<script>
	import { mapState,mapMutations } from 'vuex'
	export default {
		onLaunch: function() {
			console.log('App Launch')
			//this.requestLocation1()
			
			// #ifdef APP-PLUS
			plus.screen.lockOrientation('portrait-primary');//禁止屏幕横向
			
			console.log(111)
			// #endif
			let userInfo = uni.getStorageSync("userInfo") || ''
			console.log(userInfo)
			if(userInfo.id){
				console.log('已登录')
				this.$u.api.getOtp().then(res=>{
					console.log(res,'getotp')
					if(res.code == 0){
						this.$goEasy.connect({
							otp:res.data,
						    onSuccess: () =>{  //连接成功
						        console.log("GoEasy connect successfully.") //连接成功
								
						    },
						    onFailed: function (error) { //连接失败
						        console.log("Failed to connect GoEasy, code:"+error.code+ ",error:"+error.content);
						    },
						    onProgress:function(attempts) { //连接或自动重连中
						        console.log("GoEasy is connecting", attempts); 
								   
						    }
						});
					}
					
				})
				
				
				uni.getStorage({
				    key: 'userInfo',
				    success: (res)=> {
				        console.log(res.data);
						this.login(res.data)
				    }
				});
			}else{
				console.log('未登录')
				uni.navigateTo({
					url: '/pages/login/login'
				});
			}
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},
		methods:{
			...mapMutations(['login']),
			requestLocation1(){
				plus.android.requestPermissions(['android.permission.RECORD_AUDIO'], function(e){
					if(e.deniedAlways.length>0){	//权限被永久拒绝
						// 弹出提示框解释为何需要定位权限，引导用户打开设置页面开启
						console.log('Always Denied!!! '+e.deniedAlways.toString());
					}
					if(e.deniedPresent.length>0){	//权限被临时拒绝
						// 弹出提示框解释为何需要定位权限，可再次调用plus.android.requestPermissions申请权限
						console.log('Present Denied!!! '+e.deniedPresent.toString());
					}
					if(e.granted.length>0){	//权限被允许
					    //调用依赖获取定位权限的代码
						console.log('Granted!!! '+e.granted.toString());
					}
				}, function(e){
				    console.log('Request Permissions error:'+JSON.stringify(e));
				});
			},
			requestLocation2(){
				plus.android.requestPermissions(['android.permission.WRITE_EXTERNAL_STORAGE'], function(e){
					if(e.deniedAlways.length>0){	//权限被永久拒绝
						// 弹出提示框解释为何需要定位权限，引导用户打开设置页面开启
						console.log('Always Denied!!! '+e.deniedAlways.toString());
					}
					if(e.deniedPresent.length>0){	//权限被临时拒绝
						// 弹出提示框解释为何需要定位权限，可再次调用plus.android.requestPermissions申请权限
						console.log('Present Denied!!! '+e.deniedPresent.toString());
					}
					if(e.granted.length>0){	//权限被允许
					    //调用依赖获取定位权限的代码
						console.log('Granted!!! '+e.granted.toString());
					}
				}, function(e){
				    console.log('Request Permissions error:'+JSON.stringify(e));
				});
			}
		},
		computed:{
			...mapState(['islogin'])
		}
	}
</script>

<style lang="scss">
	/*每个页面公共css */
	@import "./uview-ui/index.scss";
	uni-page-body {
	    color: #303133;
	    font-size: 14px;
	    width: 100%;
	    height: 100%;
	}
</style>
