<template>
	<view class="main">
		11
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss">
.main{
	min-height: 100vh;
	width: 100%;
	background: #f7f7f7;
}
</style>
