<template>
	<view class="main">
		<view class="form-container">
			<u-form :model="form" ref="uForm" label-width="150">
				<u-form-item label="手机号码" prop="account"><u-input v-model="form.account" /></u-form-item>
				<u-form-item label="验证码" prop="code">
					<u-input v-model="form.code" />
					<sendcode :account="form.account" @sendCode="sendCode"></sendcode>
				</u-form-item>
				<u-form-item label="设置密码" prop="password"><u-input v-model="form.password" type="password"/></u-form-item>
				<u-form-item label="确认密码" prop="repassword"><u-input v-model="form.repassword" type="password"/></u-form-item>
			</u-form>
		</view>
		<view class="prompt">密码长度8~16位，数字、字母、字符至少包含两种</view>
		<view class="button-container"><u-button class="buttonstyle" @click="submit">提交</u-button></view>
	</view>
</template>

<script>
import sendcode from '@/components/sendCode/sendCode.vue';
import md5Libs from "uview-ui/libs/function/md5";
export default {
	data() {
		return {
			form: {
				account: '',
				code: '',
				password: '',
				repassword: ''
			},
			rules:{
				account:[
					{
						required: true,
						message: '请输入手机号',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					},
					{
						validator: (rule, value, callback) => {
							return this.$u.test.mobile(value);
						},
						message: '手机号码不正确',
						trigger: ['change', 'blur']
					},
				],
				password: [
					{
						required: true,
						message: '请输入密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}
					
				],
				repassword:[
					{
						required: true,
						message: '请再次输入密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					},
					{
						validator: (rule, value, callback) => {
							return this.form.password == value;
						},
						message: '两次密码不一致',
						trigger: 'blur',
					}
					
				],
				code:[
					{
						required: true,
						message: '请输入验证码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}
				]
			}
		};
	},
	onReady() {
		this.$refs.uForm.setRules(this.rules);
	},
	methods: {
		sendCode() {
			console.log('send ok!');
			this.$u.get(`${this.$u.http.config.baseUrl}/user/api/sendCodeSms/${this.form.account}`).then(res => {
				console.log(res);
			});
		},
		submit(){
			this.$refs.uForm.validate(valid => {
				if(valid){
					console.log('ok')
					this.$u.get(`${this.$u.http.config.baseUrl}/user/api/checkPhoneCode/${this.form.account}/${this.form.code}`).then(res => {
						console.log(res);
						if(res.code == 0){
							let params = {
								userName:this.form.account,
								pwd:md5Libs.md5(this.form.password)
							}
							this.$u.api.findPwd(params,{
								"Content-Type": "application/json"
							}).then(res=>{
								console.log(res)
								if(res.code == 0){
									uni.showToast({
										title: '找回密码成功！',
										duration: 1000,
										icon: 'none'
									});
									
									setTimeout(function() {
										uni.navigateTo({
											url: '/pages/login/login'
										});
									}, 1000)
								}else{
									uni.showToast({
										title: '找回密码失败！',
										duration: 1000,
										icon: 'none'
									});
								}
							})
						}else{
							uni.showToast({
								title: '验证码错误！',
								duration: 1000,
								icon: 'none'
							});
						}
					})
				}else{
					
				}
			})
		}
	},
	components:{
		sendcode
	}
};
</script>

<style lang="scss" scoped>
.main {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	.form-container {
		padding-top: 40rpx;

		.u-form {
			padding: 0 30rpx;
			background-color: #ffffff;
		}
	}
	.prompt {
		font-size: 24rpx;
		margin: 30rpx;
		color: #9a9a9a;
	}
	.button-container {
		margin-top: 80rpx;
		.buttonstyle {
			width: 690rpx;
			height: 88rpx;
			background: #0c62e7;
			border-radius: 10px;
			color: #ffffff;
		}
	}
}
</style>
