<template>
	<view class="main">
		<view class="top-img">
			<image src="../../static/imgs/login@2x.png" mode=""></image>
		</view>
		<view class="logo">
			<image src="../../static/imgs/logo.png" mode=""></image>
		</view>
		<view class="container">
			<view class="form-content">
				<view class="title">登陆</view>
				<u-form :model="form" ref="uForm">
					<u-form-item label="" left-icon="../../static/imgs/account.png" prop="account">
						<u-input placeholder="请输入您的账号" v-model="form.account" />
					</u-form-item>
					<u-form-item label="" left-icon="../../static/imgs/password.png" prop="password">
						<u-input placeholder="请输入密码" v-model="form.password" type="password" />
					</u-form-item>
					<u-form-item >
						<u-checkbox v-model="form.ischeck">请阅读并同意 </u-checkbox><view class="privacy" @click="gotoPrivacy">《隐私协议》</view>
					</u-form-item>
				</u-form>
			</view>
			<view class="bottom-content">
				<view class="prompt">
					<view class="noaccount">
						没有账号？
						<navigator url="/pages/login/register" class="goregiter">去注册</navigator>
					</view>
					<view class="fogotPsd">
						<navigator url="/pages/login/findPsd" class="">忘记密码</navigator>
					</view>
				</view>
				<view class="login">
					<u-button shape="circle" class="loginbutton" @click="gologin">登陆</u-button>
				</view>
			</view>
			<!-- 
			<view class=""><navigator url="/pages/login/findPsd" class="">go to findPsd</navigator></view>
			<view class=""><view class="" @click="tohomepage">go to homepage</view></view> -->
		</view>
	</view>
</template>

<script>
	import md5Libs from 'uview-ui/libs/function/md5';
	import {
		mapState,
		mapMutations
	} from 'vuex';
	export default {
		data() {
			return {
				form: {
					account: '',
					password: '',
					ischeck: false
				},
				rules: {
					account: [{
						required: true,
						message: '请输入账号',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}],
					password: [{
						required: true,
						message: '请输入密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}]
				}
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad() {
			if (this.islogin) {
				uni.switchTab({
					url: '/pages/news/news'
				});
			}
			
		},
		methods: {
			...mapMutations(['login']),
			gologin() {
				if(!this.form.ischeck){
					uni.showToast({
						title: '请先同意隐私协议！',
						duration: 1000,
						icon: 'none'
					});
					return false
				}
				this.$refs.uForm.validate(valid => {
					if (valid) {
						console.log('验证通过');
						//console.log(this.$u.api)
						this.$u.api.login({
							userName: this.form.account,
							pwd: md5Libs.md5(this.form.password)/* this.form.password */
						},{
							"Content-Type": "application/json"
						}).then(res => {
							console.log(res);
							if (res.code == 0) {
								this.login(res.data);
								let params = {
									username: res.data.userName,
									loginType: res.data.type,
									userid: res.data.id
								}
								this.$u.api.insertLoginLog(params, {
									"Content-Type": "application/x-www-form-urlencoded"
								}).then(res => {
									console.log(res)
									if (res.success) {
										console.log(this)
										this.$u.api.getOtp().then(res=>{
											console.log(res)
											if(res.code == 0){
												this.$goEasy.connect({
													otp:res.data,
												    onSuccess: function () {  //连接成功
												        console.log("GoEasy connect successfully.") //连接成功
														
												    },
												    onFailed: function (error) { //连接失败
												        console.log("Failed to connect GoEasy, code:"+error.code+ ",error:"+error.content);
												    },
												    onProgress:function(attempts) { //连接或自动重连中
												        console.log("GoEasy is connecting", attempts); 
														   
												    }
												});
											}
											
										})
										uni.showToast({
											title: '登陆成功！',
											duration: 100,
											icon: 'none'
										});

										setTimeout(function() {
											uni.switchTab({
												url: '/pages/news/news'
											});
										}, 50)
									}
								})


							}else{
								uni.showToast({
									title: '登陆失败！',
									duration: 1000,
									icon: 'none'
								});
							}
						}).catch(err=>{
							console.log(err)
						});
					} else {
						console.log('验证失败');
					}
				});

			},
			gotoPrivacy(){
				uni.navigateTo({
				    url: '/pages/login/privacy'
				});
			}
		},
		computed: {
			...mapState(['islogin'])
		}
	};
</script>

<style lang="scss" scoped>
	.main {
		.top-img {
			position: relative;

			uni-image {
				width: 100%;
				//height: 444rpx;
			}
		}

		.logo {
			position: absolute;
			top: 370rpx;
			//left: 289rpx;
			left: 50%;
			transform: translate(-50%, 0);
			width: 168rpx;
			height: 168rpx;
			background: #ffffff;
			box-shadow: 0rpx 5rpx 27rpx 0rpx rgba(112, 161, 237, 0.16);
			border-radius: 32rpx;
			display: flex;
			justify-content: center;
			align-items: center;

			uni-image {
				width: 134rpx;
				height: 146rpx;
			}
		}

		.container {
			margin-top: 100rpx;
			display: flex;
			align-items: center;
			flex-direction: column;

			//
			.form-content {
				width: 540rpx;

				.title {
					color: #0b62e7;
					font-size: 48rpx;
					margin-bottom: 40rpx;
				}
				.privacy{
					color: #0c62e7;
				}
			}
			.form-content /deep/.u-checkbox__label{
				display: flex;
				color: rgb(192, 196, 204);
				font-size: 14px;
			}
			.bottom-content {
				width: 540rpx;
				margin-top: 20rpx;

				.prompt {
					display: flex;
					justify-content: space-between;

					.noaccount {
						display: flex;
						color: #333333;

						.goregiter {
							color: #0b62e7;
						}
					}

					.fogotPsd {
						color: #333333;
					}
				}

				.login {
					margin-top: 50rpx;

					.loginbutton {
						background: #0b62e7;
						font-size: 30rpx;
						font-weight: 400;
						color: #ffffff;
						height: 100rpx;
					}
				}
			}
		}
	}
</style>
