<template>
	<view class="main">
		<view class="top-img"><image src="../../static/imgs/login@2x.png" mode=""></image></view>
		<view class="logo"><image src="../../static/imgs/logo.png" mode=""></image></view>
		<view class="container">
			<view class="form-content">
				<view class="title">注册</view>
				<u-form :model="form" ref="uForm">
					<u-form-item label="" left-icon="../../static/imgs/account.png" prop="account"><u-input placeholder="请输入您的手机号" v-model="form.account" /></u-form-item>
					<u-form-item label="" left-icon="../../static/imgs/password.png" prop="password">
						<u-input placeholder="请输入密码" v-model="form.password" type="password" />
					</u-form-item>
					<u-form-item label="" left-icon="../../static/imgs/password.png" prop="repassword">
						<u-input placeholder="请再次输入密码" v-model="form.repassword" type="password" />
					</u-form-item>
					<u-form-item label="" left-icon="../../static/imgs/code.png" prop="code">
						<u-input placeholder="请输入验证码" v-model="form.code" type="text"></u-input>
						<!-- <u-button  size="mini" :plain="true" :hair-line="true">获取验证码</u-button> -->
						<sendcode :account="form.account" @sendCode="sendCode"></sendcode>
					</u-form-item>
					<u-form-item >
						<u-checkbox v-model="form.ischeck">勾选表示同意 </u-checkbox><view class="privacy" @click="gotoPrivacy">《隐私协议》</view>
					</u-form-item>
				</u-form>
			</view>
			<view class="bottom-content">
				<view class="prompt">
					<view class="noaccount">
						已有账号,
						<navigator url="/pages/login/login" class="goregiter">去登陆</navigator>
					</view>
				</view>
				<view class="register"><u-button shape="circle" class="registerbutton" @click="register">注册</u-button></view>
			
			</view>
		</view>
	</view>
</template>

<script>
import sendcode from '@/components/sendCode/sendCode.vue';
import md5Libs from "uview-ui/libs/function/md5";
import {mapState } from 'vuex'
export default {
	data() {
		return {
			form: {
				account: '',
				password: '',
				repassword: '',
				code: '',
				ischeck:false
			},
			time: '60',
			rules: {
				account: [
					{
						required: true,
						message: '请输入手机号',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					},
					{
						validator: (rule, value, callback) => {
							return this.$u.test.mobile(value);
						},
						message: '手机号码不正确',
						trigger: ['change', 'blur']
					},
					// 校验用户是否已存在
					/* {
						asyncValidator: (rule, value, callback) => {
							let params = {
								name: value
							};
							this.$u.api
								.checkPhone(params, {
									'Content-Type': 'application/x-www-form-urlencoded'
								})
								.then(res => {
									// 如果验证不通过，需要在callback()抛出new Error('错误提示信息')
									if (res.length !== 0) {
										callback(new Error('手机号重复！'));
									} else {
										// 如果校验通过，也要执行callback()回调
										callback();
									}
								});
						}
					} */
				],
				password: [
					{
						required: true,
						message: '请输入密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}
					
				],
				repassword:[
					{
						required: true,
						message: '请再次输入密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					},
					{
						validator: (rule, value, callback) => {
							return this.form.password == value;
						},
						message: '两次密码不一致',
						trigger: 'blur',
					}
					
				],
				code:[
					{
						required: true,
						message: '请输入验证码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}
				]

			}
		};
	},
	onReady() {
		this.$refs.uForm.setRules(this.rules);
	},
	onLoad() {
		if (this.islogin) {
			uni.switchTab({
				url: '/pages/news/news'
			});
		}
	},
	methods: {
		tohomepage() {
			uni.switchTab({
				url: '/pages/news/news'
			});
		},
		sendCode() {
			console.log('send ok!');
			this.$u.get(`${this.$u.http.config.baseUrl}/user/api/sendCodeSms/${this.form.account}`).then(res => {
				console.log(res);
			});
		},
		register() {
			if(!this.form.ischeck){
				uni.showToast({
					title: '请先同意隐私协议！',
					duration: 1000,
					icon: 'none'
				});
				return false
			}
			this.$refs.uForm.validate(valid => {
				if (valid) {
					console.log('验证通过');
					this.$u.get(`${this.$u.http.config.baseUrl}/user/api/checkPhoneCode/${this.form.account}/${this.form.code}`).then(res => {
						/* todo ${this.$u.http.config.baseUrl}*/
						console.log(res)
						if(res.code == 0){
							let params = {
								avatar:'https://www.xiaosuibi.com/default/img/avatar.jpeg',
								type:4,
								userName:this.form.account,
								pwd:md5Libs.md5(this.form.password)
							}
							this.$u.api.registerOrUpdate(params,{
								"Content-Type": "application/json"
							}).then(res=>{
								console.log(res)
								if(res.code == 0){
									uni.showToast({
										title: '注册成功！',
										duration: 1000,
										icon: 'none'
									});
									
									setTimeout(function() {
										uni.navigateTo({
											url: '/pages/login/login'
										});
									}, 1000)
								}else{
									uni.showToast({
										title: res.msg,
										duration: 1000,
										icon: 'none'
									});
								}
							})
						}else{
							uni.showToast({
								title: '验证码错误！',
								duration: 1000,
								icon: 'none'
							});
						}
					});
				} else {
					console.log('验证失败');
				}
			});
		},
		gotoPrivacy(){
			uni.navigateTo({
			    url: '/pages/login/privacy'
			});
		}
	},
	components: {
		sendcode
	},
	computed:{
		...mapState(['islogin'])
	}
};
</script>

<style lang="scss" scoped>
.main {
	.top-img {
		position: relative;
		uni-image {
			width: 100%;
			//height: 444rpx;
		}
	}
	.logo {
		position: absolute;
		top: 370rpx;
		left: 289rpx;
		width: 168rpx;
		height: 168rpx;
		background: #ffffff;
		box-shadow: 0rpx 5rpx 27rpx 0rpx rgba(112, 161, 237, 0.16);
		border-radius: 32rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		uni-image {
			width: 134rpx;
			height: 146rpx;
		}
	}
	.container {
		display: flex;
		align-items: center;
		margin-top: 80rpx;
		flex-direction: column;
		.form-content {
			width: 540rpx;
			.title {
				color: #0c62e7;
				font-size: 48rpx;
				margin-bottom: 20rpx;
			}
			.privacy{
				color: #0c62e7;
			}
			
		}
		.form-content /deep/.u-checkbox__label{
			display: flex;
			color: rgb(192, 196, 204);
			font-size: 14px;
		}
		.bottom-content {
			width: 540rpx;
			margin-top: 20rpx;
			.prompt {
				display: flex;
				justify-content: space-between;
				.noaccount {
					display: flex;
					.goregiter {
						color: #0c62e7;
					}
				}
			}
			.register {
				margin-top: 50rpx;
				margin-bottom: 50rpx;
				.registerbutton {
					background: #0c62e7;
					color: #ffffff;
					height: 100rpx;
					font-weight: 400;
				}
			}
		}
	}
}
</style>
