<template>
	<view class="newsListItem" @click="goNewInfo">
		<view class="new-img">
			<image class="imgstyle" :src="newdata.coverimg" mode=""></image>
		</view>
		<view class="new">
			<view class="title u-line-1">
				{{newdata.title}}
			</view>
			<view class="content u-line-2">
				{{newdata.summary}}
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		},
		props:{
			newdata:{
			          type:Object,
			          default:()=>{
			              return{
			              }
			          }
			      }
		},
		methods:{
			goNewInfo(){
				uni.navigateTo({
				    url: `/pages/news/newInfo?Id=${this.newdata.id}`
				});
			}
		}
	}
</script>

<style lang="scss" scoped>
.newsListItem{
	//width: 690px;
	height: 180rpx;
	background: #FFFFFF;
	box-shadow: 0px 0px 18rpx 2rpx rgba(226, 226, 226, 0.45);
	border-radius: 20rpx;
	padding: 25rpx;
	display: flex;
	.new-img{
		width: 130rpx;
		height: 130rpx;
		.imgstyle{
			height: 100%;
			width: 100%;
		}
	}
	.new{
		margin-left: 20rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title{
			width: 428rpx;
			
			font-size: 30rpx;
			font-family: PingFang;
			font-weight: 500;
			color: #333333;
			line-height: 36rpx;
		}
		.content{
			width: 480rpx;
			
			font-size: 24rpx;
			font-family: PingFang;
			font-weight: 400;
			color: #999999;
			line-height: 36rpx;
		}
	}
}
</style>
