<template>
	<view class="doctor">
		<u-navbar :is-back="false" title="" :background="navBg">
			<view class="slot-wrap"><u-search shape="round" v-model="conditions" :show-action="false" height="60" @search="searchNew" @focus='focus' @blur="blur" @clear="clear"></u-search></view>
		</u-navbar>
		<view class="main" v-for="item in doctorsList" :key="item.id" v-if="doctorsList.length > 0"><doctorListItem :doctorInfo="item" @getnewInfo='getnewInfo'></doctorListItem></view>
		<view class="nodata" v-if="doctorsList.length == 0">
			<u-empty text="未查询到任何数据" mode="data"></u-empty>
		</view>
		<u-loadmore bg-color="#f7f7f7" v-if="doctorsList.length > limit"  :status="status" class="loadmore" @loadmore="loadmore"/>
	</view>
</template>

<script>
import doctorListItem from '@/components/doctorListItem/doctorListItem.vue';
import { mapState } from 'vuex';
export default {
	data() {
		return {
			doctorsList: [],
			conditions:'',
			limit: 7,
			page: 1,
			total:'',
			status:'loadmore',
			navBg: {
				backgroundColor: '#0C62E7'
			}
		};
	},
	onLoad() {
		console.log(this.userInfo);
		this.getDoctorsList();
	},
	
	components: {
		doctorListItem
	},
	methods: {
		getnewInfo(){
			//console.log(111)
			this.page = 1;
			this.doctorsList = [];
			this.getDoctorsList();
		},
		getDoctorsList() {
			let params = {
				conditions:this.conditions,
				id: this.userInfo.id,
				limit: this.limit,
				page: this.page
			}
			this.$u.api.getAllDoctors(params).then(res => {
				console.log(res);
				if (res.code == 0) {
					if (res.data.data.length < this.limit) {
						this.status = 'nomore';
						
					}
					if(res.data.data.length > this.limit){
						this.status = 'loadmore';
					}
					/* this.doctorsList = res.data.data; */
					this.total = res.data.total;
					
					this.doctorsList = this.doctorsList.concat(res.data.data);
					console.log(this.doctorsList)
				}
			});
		},
		searchNew(val){
			console.log(val)
			this.conditions = val;
			
			this.getnewInfo();
		},
		focus(val){
			console.log('聚焦了！')
			uni.hideTabBar()
		},
		blur(){
			console.log('失去焦点了！')
			uni.showTabBar()
		},
		clear(){
			this.getDoctorsList();
		},
		loadmore(){
			console.log('11')
			/* todo 两种情况，没加载满屏幕以及别人点 */
		}
	},
	onReachBottom() {
		console.log('到底了！');
		if(this.total == this.doctorsList.length){
			this.status = 'nomore'
			return false;
		}
		this.page++;
		this.getDoctorsList();
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.doctor {
	/* height: 100%;
	width: 100%; */
	//min-height: 650px;
	min-height: 100vh;
	background-color: #f7f7f7;
	//padding-bottom: 100rpx;
	.slot-wrap {
		display: flex;
		align-items: center;
		flex: 1;
		padding: 0 10rpx;
	}
	.main {
		display: flex;
		justify-content: center;
		padding-top: 30rpx;
	}
	.nodata{
		padding-top: 200px;
	}
	.loadmore{
		/* width: 100%;
		position: fixed;
		bottom: 0; */
	}
}
</style>
