<template>
	<view class="doctorinfo-main">
		<view class="main">
			<view class="doctorbasic">
				<view class="left-content">
					<view class="avatar"><image :src="doctorInfo.avatar" mode="" class="avatarstyle"></image></view>
					<view class="info">
						<view class="name">{{ doctorInfo.nickname }}</view>
						<view class="hospital">{{ doctorInfo.ugroup }}</view>
						<view class="position">{{ doctorInfo.remarks }}</view>
					</view>
				</view>

				<!-- <view class="focus"><u-button class="focuson" type="primary" @click="focuson">关注</u-button></view> -->
			</view>
			<view class="doctorinfo">
				<view class="title">医生资料</view>
				<view class="record">
					<view class="title">履历：</view>
					{{ doctorInfo.resume == null ? '暂无数据' : doctorInfo.resume }}
				</view>
				<view class="honor">
					<view class="title">荣誉：</view>
					{{ doctorInfo.resume == null ? '暂无数据' : doctorInfo.resume }}
				</view>
			</view>
		</view>
		<u-select v-model="show" mode="mutil-column" :list="list" @confirm="goPay"></u-select>
		<view class="message" v-if="userInfo.type == 4">
			<u-field v-model="message" label="" label-width="0" placeholder="我要留言" :border-bottom="false" type="textarea">
				<u-button size="mini" slot="right" type="primary" @click="submit" shape="circle">提交</u-button>
			</u-field>
		</view>
	</view>
</template>

<script>
let iapChannel = null,
	productId = 'jkkj20201225',
	productIds = ['jkkj20201225'];
import { mapState } from 'vuex';
export default {
	data() {
		return {
			message: '',
			doctorId: '',
			doctorInfo: '',
			show: false,
			list: [
				[
					{
						value: '1',
						label: '7天/6元'
					}
					/* {
						value: '2',
						label: '三个月'
					},
					{
						value: '3',
						label: '六个月'
					},
					{
						value: '4',
						label: '一年'
					} */
				],
				[
					/* {
						value: '001',
						label: '支付宝'
					},
					{
						value: '002',
						label: '微信'
					}, */
					{
						value: '003',
						label: '立即续费'
					}
				]
			]
		};
	},
	onLoad(options) {
		console.log(options, 111);
		this.doctorId = options.id || 4;
		console.log(this.getNowTime(0),this.getNowTime(7))
		this.getDoctorInfo();
	},
	methods: {
		requestOrder() {
			uni.showLoading({
				title: '检测支付环境...'
			});
			iapChannel.requestOrder(
				productIds,
				orderList => {
					//必须调用此方法才能进行 iap 支付
					//this.disabled = false;
					console.log('requestOrder success666: ' + JSON.stringify(orderList));

					//uni.hideLoading();
					this.requestPayment(orderList);
				},
				e => {
					console.log('requestOrder failed: ' + JSON.stringify(e));
					uni.hideLoading();
					uni.showModal({
						content: '暂不支持苹果手机支付',
						showCancel: false
					});
				}
			);
		},
		requestPayment(e) {
			console.log(e);
			const fee = e[0].price.toString();
			//this.loading = true;
			uni.hideLoading();
			uni.requestPayment({
				provider: 'appleiap',
				orderInfo: {
					productid: productId
				},
				success: e => {
					console.log(fee);
					/* uni.showModal({
								    content: "感谢您的赞助",
								    showCancel: false
								}) */
					//uni.hideLoading();
					/* todo付完钱的回调 */
					//const date = new Date()
					const params = {
						amount: '1',
						fee: fee,
						name: 'applePMD咨询服务',
						targetuserid: Number(this.doctorId),
						userid: this.userInfo.id,
						type: 2,
						notifyTime: this.getNowTime(0),
						deadline: this.getNowTime(7)
					};
					this.$u.api
						.appleNotify(params, {
							'Content-Type': 'application/json'
						})
						.then(res => {
							console.log(res);
							if (res.code == 0) {
								uni.showModal({
									content: '你已经可以进行留言！',
									showCancel: false
								});
							}
						})
						.catch(err => {
							console.log(err);
							uni.showModal({
								content: '出现未知错误！',
								showCancel: false
							});
						});
				},
				fail: e => {
					//uni.hideLoading();
					uni.showModal({
						content: '支付失败,原因为: ' + e.errMsg,
						showCancel: false
					});
				},
				complete: () => {
					//console.log("payment结束")
					//this.loading = false;
				}
			});
		},
		getDoctorInfo() {
			this.$u.get(`${this.$u.http.config.baseUrl}/user/api/getDoctor/${this.doctorId}`).then(res => {
				console.log(res);
				if (res.code == 0) {
					this.doctorInfo = res.data[0];
					uni.setNavigationBarTitle({
						title: this.doctorInfo.nickname
					});
				}
			});
		},
		submit() {
			if (this.message == '') {
				uni.showToast({
					title: '留言内容不能为空！',
					duration: 1000,
					icon: 'none'
				});
				return false;
			}
			let params = {
				targetuserid: Number(this.doctorId),
				userid: this.userInfo.id
			};
			if (this.userInfo.type == 4) {
				this.$u.api
					.checkPermissions(params)
					.then(res => {
						console.log(res);
						if (res.code == 0) {
							let data = {
								uid: this.userInfo.id,
								tid: Number(this.doctorId),
								content: this.message,
								type: 0,
								audioDuration:this.audioDuration,
								audioPlay:null
							};
							this.$u.api
								.addMessage(data, {
									'Content-Type': 'application/json'
								})
								.then(res => {
									console.log(res);
									if (res.code == 0) {
										uni.showToast({
											title: '留言成功！',
											duration: 1000,
											icon: 'none'
										});
										this.$u
											.get(`${this.$u.http.config.baseUrl}/comment/arouseComment/${this.userInfo.id}/${this.doctorId}`)
											.then(res => {
												console.log(res);
												if (res.code == 0) {
													uni.switchTab({
														url: '/pages/user/mymessages'
													});
												}
											})
											.catch(err => {
												console.log(err);
											});
										/* setTimeout(function() {
										uni.switchTab({
											url: '/pages/user/mymessages'
										});
									}, 1000); */
									}
								});
						} else if (res.code == 10035) {
							uni.showModal({
								title: '提示',
								content: '您的留言咨询时间已过期，是否要继续购买？',
								success: res => {
									if (res.confirm) {
										this.show = true;
									}
								}
							});
						} else if (res.code == -1) {
							uni.showModal({
								title: '提示',
								content: '需要先购买留言权限！是否继续购买？',
								success: res => {
									if (res.confirm) {
										this.show = true;
									}
								}
							});
						}
					})
					.catch(err => {
						console.log(err);
					});
			} /* else{  
				let data = {
					uid: this.userInfo.id,
					tid: Number(this.doctorId),
					content: this.message
				};
				this.$u.api
					.addMessage(data, {
						'Content-Type': 'application/json'
					})
					.then(res => {
						console.log(res);
						if (res.code == 0) {
							uni.showToast({
								title: '留言成功！',
								duration: 1000,
								icon: 'none'
							});
							setTimeout(function() {
								uni.switchTab({
									url: '/pages/user/mymessages'
								});
							}, 1000);
						}
					});
			} */
		},
		goPay(e) {
			console.log(e[1].value);
			if (e[1].value == '001') {
				//支付宝支付
				let orderInfo = '';
				this.$u
					.post(
						`${this.$u.http.config.baseUrl}/order/unifiedOrder`,
						{
							amount: '1',
							fee: '0.01',
							subject: '咨询服务',
							targetuserid: Number(this.doctorId),
							type: 0,
							userid: this.userInfo.id
						},
						{
							'Content-Type': 'application/json'
						}
					)
					.then(res => {
						console.log(res);
						/* todo 判断具体错误 */
						if (res.code == 0) {
							orderInfo = res.data;
							uni.requestPayment({
								provider: 'alipay',
								orderInfo: orderInfo,
								success: function(res) {
									console.log('success:' + JSON.stringify(res));
									uni.showToast({
										title: '支付成功！您可以进行留言了！',
										duration: 1000,
										icon: 'none'
									});
									/* setTimeout(function() {
										uni.switchTab({
											url: '/pages/user/mymessages'
										});
									}, 1000); */
								},
								fail: function(err) {
									console.log('fail:' + JSON.stringify(err));
									uni.showToast({
										title: '支付失败！',
										duration: 1000,
										icon: 'none'
									});
								}
							});
						}
					});
			} else if (e[1].value == '002') {
				//微信支付 /* todo*/
				/* uni.showToast({
					title: '功能开发中！',
					duration: 2000,
					icon: 'none'
				}); */
				/* console.log(111);
				console.log(this.$u.http.config.baseUrl,222) */
				let orderInfo = '';
				this.$u
					.post(
						`${this.$u.http.config.baseUrl}/order/unifiedOrder`,
						{
							amount: '1',
							fee: '0.01',
							subject: '咨询服务',
							targetuserid: Number(this.doctorId),
							type: 1,
							userid: this.userInfo.id
						},
						{
							'Content-Type': 'application/json'
						}
					)
					.then(res => {
						console.log(res);
						if (res.code == 0) {
							orderInfo = res.data;
							uni.requestPayment({
								provider: 'wxpay',
								orderInfo: orderInfo,
								success: function(res) {
									console.log('success:' + JSON.stringify(res));
									uni.showToast({
										title: '支付成功！您可以进行留言了！',
										duration: 1000,
										icon: 'none'
									});
									/* setTimeout(function() {
										uni.switchTab({
											url: '/pages/user/mymessages'
										});
									}, 1000); */
								},
								fail: function(err) {
									console.log(err);
									console.log('fail:' + JSON.stringify(err));
									uni.showToast({
										title: '支付失败！',
										duration: 1000,
										icon: 'none'
									});
								}
							});
						}
					})
					.catch(err => {
						console.log(err);
					});
			} else if (e[1].value == '003') {
				//苹果支付
				plus.payment.getChannels(
					channels => {
						console.log('获取到channel' + JSON.stringify(channels));
						for (var i in channels) {
							var channel = channels[i];
							if (channel.id === 'appleiap') {
								iapChannel = channel;
								this.requestOrder();
							}
						}
						if (!iapChannel) {
							uni.showModal({
								content: '暂不支持苹果 iap 支付',
								showCancel: false
							});
						}
					},
					error => {
						uni.showModal({
							content: '暂不支持苹果 iap 支付',
							showCancel: false
						});
					}
				);
			}
		},
		getNowTime(num) { //获取当前时间或者当前时间之前或者之后的时间
			let dateTime;
			var date1 = new Date();
			//今天时间
			var time1 = date1.getFullYear() + '-' + (date1.getMonth() + 1) + '-' + date1.getDate();
			//console.log(time1);
			var date2 = new Date(date1);
			date2.setDate(date1.getDate() + num);
			//num是正数表示之后的时间，num负数表示之前的时间，0表示今天
			var time2 = date2.getFullYear() + '-' + (date2.getMonth() + 1) + '-' + date2.getDate();
			//console.log(time2);
			let hh = new Date().getHours();
			let mf = new Date().getMinutes() < 10 ? '0' + new Date().getMinutes() : new Date().getMinutes();
			let ss = new Date().getSeconds() < 10 ? '0' + new Date().getSeconds() : new Date().getSeconds();
			dateTime = time2 + ' ' + hh + ':' + mf + ':' + ss;
			console.log(dateTime);
			return dateTime;
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.doctorinfo-main {
	.main {
		background-color: #f7f7f7;
		//height: 100%;
		min-height: 650px;
		padding-bottom: 88px;
		width: 100%;
		height: 100%;
		border-top: 1rpx solid #eeeeee;
	}
	.doctorbasic {
		display: flex;
		padding: 30rpx;
		justify-content: space-between;
		.left-content {
			display: flex;
			.avatar {
				width: 160rpx;
				height: 160rpx;
				.avatarstyle {
					width: 100%;
					height: 100%;
				}
			}
			.info {
				display: flex;
				flex-direction: column;
				margin-left: 20rpx;
				.name {
					font-size: 30rpx;
					font-family: PingFang;
					font-weight: bold;
					color: #333333;
					line-height: 36rpx;
					margin-bottom: 50rpx;
				}
				.hospital {
					font-size: 24rpx;
					font-family: PingFang;
					font-weight: 400;
					color: #999999;
					line-height: 36rpx;
				}
				.position {
					@extend .hospital;
				}
			}
		}
		.focus {
			//margin-left: 153rpx;
			display: flex;
			align-items: center;
			.focuson {
				width: 120rpx;
				height: 48rpx;
				background: #0b62e7;
				border-radius: 24rpx;

				font-size: 24rpx;
				font-family: PingFang;
				font-weight: 400;
				color: #ffffff;
				line-height: 36rpx;
			}
		}
	}
	.doctorinfo {
		padding: 30rpx;
		//padding-bottom: 50rpx;
		.title {
			margin-top: 40rpx;
			font-size: 30rpx;
			font-family: PingFang;
			font-weight: bold;
			color: #333333;
			line-height: 36rpx;
		}
		.record {
		}
		.honor {
		}
	}
	.message {
		position: fixed;
		bottom: var(--window-bottom, 0);
		left: 0;
		height: 88px;
		width: 100%;
		background-color: #ffffff;
		/deep/.u-textarea-class {
			background-color: #eeeeee;
			padding: 20rpx;
		}
	}
}
</style>
