<template>
	<view>
		<u-button size="mini" :plain="true" :hair-line="true" @click="sendCode" :disabled="isdisabled" class="buttonstyle">
			<view class="" v-if="issend">{{ time }}s</view>
			<view class="" v-if="!issend">发送验证码</view>
		</u-button>
	</view>
</template>

<script>
export default {
	data() {
		return {
			issend: false,
			time: '60',
			isdisabled: false
		};
	},
	props:{
		account:{
		           type:String,
		           default:()=>{
		               return ''
		           }
		       } 
	},
	methods: {
		sendCode() {
			if(this.account == ''){
			        console.log('222')
			        return false
			      } 
			this.issend = true;
			this.isdisabled = true;
			let me = this;
			let interval = setInterval(function() {
				if (me.time-- <= 0) {
					me.time = 60;
					me.issend = false;
					me.isdisabled = false;
					clearInterval(interval);
				}
			}, 1000);
			this.$emit('sendCode')
		}
	}
};
</script>

<style lang="scss">
	.buttonstyle{
		color: #0C62E7;
	}
</style>
