<template>
	<view class="detectionInfo-main">
		<view class="imgs">
			<view class="imgs-main">
				<view class="title">检测图片</view>
				<u-upload :file-list="fileList" :deletable="false" :show-progress="false" :custom-btn="true" width="150" height="150"></u-upload>
			</view>
		</view>
		<view class="time">检测时间：{{data.upTime}}</view>
		<view class="code">
			<view class="detextion">检测编号：{{data.detectionId}}</view>
			<view class="patient">病人编号：{{data.patientId}}</view>
		</view>
		<view class="result">
			<view class="title">检测结果</view>
			<view class="text">置信区间为：{{data.reResult}}</view>
		</view>
	</view>
</template>

<script>
import { mapState } from 'vuex';

export default {
	data() {
		return {
			fileList: [],
			id: '',
			path: '',
			groupName: '',
			data:''
		};
	},
	onLoad(options) {
		console.log(options);
		//console.log(option);
		this.id = options.id || 15;
		this.getResultGro();
		this.getPath();
		this.getResultInfo();
		setTimeout(()=>{
			this.groupName.forEach(item=>{
				//console.log(item)
				const data = `${this.$u.http.config.baseUrl}/images/${this.userInfo.userName}/${this.path}/${item}`;
				//console.log(data)
				const opj = {
					url:data
				}
				this.fileList.push(opj)
			});
			
		},1000)
	},
	methods: {
		getResultGro() {
			let params = {
				id: this.id
			};
			this.$u.api.getResultGro(params).then(res => {
				console.log(res);
				this.groupName = res;
			});
		},
		getPath() {
			let params = {
				id: this.id
			};
			this.$u.api.getPath(params).then(res => {
				console.log(res);
				this.path = res.path;
			});
		},
		getResultInfo() {
			let params = {
				id: this.id
			};
			this.$u.api
				.getResultInfo(params, {
					'Content-Type': 'application/x-www-form-urlencoded'
				})
				.then(res => {
					console.log(res);
					this.data = res[0]
				});
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss">
.detectionInfo-main {
	width: 100%;
	height: 100%;
	background: #f7f7f7;

	.imgs {
		display: flex;
		justify-content: center;
		background-color: #ffffff;
		border-top: 1px solid #f7f7f7;
		padding-bottom: 20rpx;
		.imgs-main {
			width: 690rpx;
		}
		.title {
			padding: 30rpx 0 20rpx 10rpx;
			color: #333333;
			font-weight: bold;
		}
	}
	.time {
		margin-top: 20rpx;
		padding-left: 40rpx;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100rpx;
		background: #ffffff;
		font-weight: bold;
	}
	.code {
		margin-top: 20rpx;
		font-weight: bold;
		.detextion {
			padding-left: 40rpx;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100rpx;
			background: #ffffff;
		}
		.patient {
			padding-left: 40rpx;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100rpx;
			background: #ffffff;
			border-top: 1px solid #f7f7f7;
		}
	}
	.result {
		margin-top: 30rpx;
		padding-left: 40rpx;
		//height: 320rpx;
		background: #ffffff;
		font-weight: bold;
		.title {
			padding: 20rpx 0;
		}
		.text {
			padding-bottom: 20rpx;
		}
	}
}
</style>
