<!-- todo 测试底部提示按钮样式？ -->
<template>
	<view class="main">
		<view class="data" v-if="historyList.length > 0">
			<u-swipe-action :index="index" v-for="(item, index) in historyList" :key="item.id" @click="clickOptions" :options="options">
				<view class="history-main"><historyListItem :infodata="item"></historyListItem></view>
			</u-swipe-action>
			<u-loadmore :status="status" bg-color="#f7f7f7" v-if="historyList.length > limit" class="bottom-status"/>
		</view>
		<view class="nodata" v-else>
			<u-empty text="无数据" mode="list"></u-empty>
		</view>
	</view>
</template>

<script>
import historyListItem from '@/components/historyListItem/historyListItem.vue';
import { mapState } from 'vuex';
let timer = null;
export default {
	data() {
		return {
			pagesize: 1,
			limit: 5,
			conditions: '', //查询条件
			historyList: [],
			count:'',
			status: 'loadmore',
			options: [
				{
					text: '删除',
					style: {
						backgroundColor: '#dd524d'
					}
				}
			]
		};
	},
	onLoad() {
		this.getCheckHistory();
		console.log(this.$u);
	},
	methods: {
		getCheckHistory() {
			this.$u
				.get(`${this.$u.http.config.baseUrl}/upload/getResultGroupData?id=${this.conditions}&page=${this.pagesize}&limit=${this.limit}&username=${this.userInfo.userName}`)
				.then(res => {
					console.log(res);
					//this.status = 'loading';
					if (res.code == 0) {
						if (res.data.length < this.limit) {
							this.status = 'nomore';
							
						}
						if(res.data.length > this.limit){
							this.status = 'loadmore';
						}
						this.count = res.count;
						this.historyList = this.historyList.concat(res.data);
					}
				});
		},
		clickOptions(index, index1) {
			//index 点击的记录在history里的index; index1 点击的按钮的index 0 删除
			//console.log(index, index1, 111);
			//console.log(this.historyList[index].id);
			//console.log('dianjile ')
			uni.showModal({
				title: '删除',
				content: '你确定要删除该条检测记录吗？',
				success: res => {
					if (res.confirm) {
						this.$u.get(`${this.$u.http.config.baseUrl}/upload/delResultGroup/${this.historyList[index].id}`).then(res => {
							console.log(res);
							if (res.success) {
								this.historyList.splice(index, 1);
								uni.showToast({
									title: '删除成功！',
									duration: 2000,
									icon: 'none'
								});
								if (this.historyList.length < 5) {
									/* this.historyList = [];
									setTimeout(function(){
										this.getCheckHistory();
									},1000) */
									
								}
							}
						});
					} else if (res.cancel) {
					}
				}
			});
		}
	},
	/* onPullDownRefresh() {
		console.log('下拉刷新了')
		this.pagesize = 1;
		this.limit = 5;
		this.historyList = []
		this.getCheckHistory();
		//console.log('refresh')
		setTimeout(function() {
			uni.stopPullDownRefresh(); //停止下拉刷新动画
		}, 1000);
	}, */
	onReachBottom() {
		//与methods 同级
		console.log('页面到底了');
		if(this.count == this.historyList.length){
			this.status = 'nomore';
			return false
		}
		//阻止重复加载
		if (timer !== null) {
			clearTimeout(timer);
		}
		timer = setTimeout(() => {
			this.pagesize++;
			this.getCheckHistory();
			//this.status = 'loading';
		}, 500);
	},
	components: {
		historyListItem
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.main{
	background: #f7f7f7;
	//height: 100%;
	width: 100%;
	min-height: 100vh;
}
.main /deep/.u-swipe-action {
	background-color: #f7f7f7 !important;
}
.main /deep/ .u-swipe-del {
	margin-top: 15px;
}

.history-main {
	width: 100%;
	height: 100%;
	//background: #f7f7f7;
	display: flex;
	justify-content: center;
	padding-top: 30rpx;
}
.bottom-status{
	/* width: 100%;
	position: fixed;
	bottom: 0; */
}
.data{
	//height: 100%;
	/* position: fixed;
	bottom: 0; */
	//margin-bottom: 30px;
}
.nodata{
	//height: 100%;
	padding-top: 200px;
}
</style>
