<template>
	<view class="main">
		<view class="upload-container">
			<view class="title">上传图片</view>
			<u-upload
				ref="uUpload"
				@on-remove="removeimg"
				@on-success="uploadsuccess"
				@changeStatus="changeStatus"
				@on-uploaded="allUpload"
				:multiple="true"
				:form-data="formdata"
				:action="action"
				:auto-upload="false"
				width="150"
				height="150"
			></u-upload>
			<u-button type="primary" class="sureupload" @click="submit" >确认上传</u-button>
		</view>
		<view class="checknumber">
			<u-field v-model="detectionTimes" label="剩余检测次数" placeholder="" :border-bottom="false" label-width="200" :disabled="true" class="fieldstyle">
				<u-button size="mini" slot="right" @click="gobind">去绑定</u-button>
			</u-field>
		</view>
		<view class="form-container">
			<u-field v-model="heartbeat" label="心率参数" placeholder="" class="form" required></u-field>
			<u-field v-model="patientID" label="病人编号" placeholder="" class="form" required></u-field>
			<u-field v-model="detectionID" label="检测编号" placeholder="" class="form" required></u-field>
		</view>
		<view class="button-container"><image src="../../static/imgs/calculate.png" mode="" class="imgstyle" @click="gocalculate"></image></view>
		
	</view>
</template>

<script>
import { mapState } from 'vuex';
export default {
	data() {
		return {
			action: `${this.$u.http.config.baseUrl}/upload/image`, //图片请求地址
			detectionTimes: '0次',
			JkcardTime: 0, //检测卡次数
			Jkcard: '', //检测卡号
			heartbeat: '',
			patientID: '',
			detectionID: '',
			formdata: {
				//上传图片时需要传的参数
				uuid: '',
				username: ''
			},
			fileNameList: [], //上传成功的照片的名字
			isChooseImg:false //判断是否为选择图片的情况
		};
	},
	onShow() {
		console.log(this.isChooseImg)
		if(!this.isChooseImg){
			this.getJKCardTime();
			console.log('onshow')
			
			this.$nextTick(function(){
			    this.$refs.uUpload.clear();
			})
			this.heartbeat="";
			this.detectionID="";
			this.patientID ="";
			this.fileNameList=[];
		}
		
	},
	
	methods: {
		submit() {
			let date = new Date();
			let Y = date.getFullYear() + '-';
			let M = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
			let D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + '-';
			let Ymd = Y + M + D;
			//console.log(Ymd, 111);
			let uuid = Ymd + this.guid();
			this.formdata.uuid = uuid;
			this.formdata.username = this.userInfo.userName;
			//console.log(uuid);
			if (this.$refs.uUpload.lists.length < 4) {
				uni.showToast({
					title: '请至少选择四张图片！',
					duration: 2000,
					icon: 'none'
				});
				return false;
			}
			this.$refs.uUpload.upload();
			console.log(this.$refs.uUpload.lists, 222);
			
		},
		changeStatus(data){ //
			//console.log('chooseStatus',data)
			this.isChooseImg = data;
		},
		uploadsuccess(data, index, lists, name) { //每一张图片上传完成
			//console.log(data);
			this.fileNameList.push(data.content);
			//console.log(this.fileNameList);
		},
		allUpload(lists, name){ //全部上传完成
			console.log('all upload')
			//console.log(lists)
			uni.showToast({
				title: '上传成功！',
				duration: 2000,
				icon: 'none'
			});
			console.log(this.fileNameList,111)
		},
		removeimg(index, lists, name) {
			this.fileNameList.splice(index, 1);
			console.log(this.fileNameList);
		},
		guid() {
			return 'xxxx-4xxx-yxxx-xxxx'.replace(/[xy]/g, function(c) {
				var r = (Math.random() * 16) | 0,
					v = c == 'x' ? r : (r & 0x3) | 0x8;
				return v.toString(16);
			});
		},
		gobind() {
			uni.navigateTo({
				url: '/pages/user/bindCard'
			});
		},
		getJKCardTime(){
			//console.log(this.$store)
			this.$u.get(`${this.$u.http.config.baseUrl}/upload/checkUserJKCard/${this.$store.state.userInfo.id}`).then(res => {
							console.log(res);
							if(res.success){
								this.detectionTimes = res.content.count+'次';
								this.JkcardTime = res.content.count;
								this.Jkcard = res.content.number;
							}else{
								this.detectionTimes = '未绑定';
								this.JkcardTime = 0;
							}
						});
		},
		gocalculate() {
			if(this.heartbeat=='' || this.patientID=='' || this.detectionID==''){
				uni.showToast({
				    title: '信息不完整！',
				    duration: 2000,
					icon: 'none'
				});
				return false;
			}
			if(this.fileNameList.length <= 3){
				uni.showToast({
				    title: '请先上传图片！',
				    duration: 2000,
					icon: 'none'
				});
				return false;
			}
			if(this.JkcardTime < 1){
				uni.showToast({
				    title: '检测次数不足！',
				    duration: 2000,
					icon: 'none'
				});
				return false;
			}
			let data = {
				username: this.userInfo.userName,
				patientID: this.patientID,
				detectionID: this.detectionID,
				city: '北京市',
				imageList: this.fileNameList,
				heartbeat: this.heartbeat
			}
			console.log(data)
			this.$u.api.insertResultGroup(data,{
				"Content-Type": "application/json"
			}).then(res=>{
				console.log(res)
				const id = res.content.arg01;
				if (res.success && res.content.error == ''){
					let params = {
						username: this.userInfo.userName,
						id: res.content.arg01,
						patientID: res.content.patient_id,
						detectionID: res.content.detect_id,
						result: res.content.result,
						last: res.content.last,
						error: res.content.error,
						isResult: res.content.error && res.content.error !== '' ? 2 : 1
					}
					this.$u.api.updateResult(params).then(res=>{
						console.log(res)
						console.log(id)
						if(res.success){
							let params = {
								iccard: this.Jkcard,
								userid: this.userInfo.id
							}
							this.$u.api.reduceJKcard(params).then(res=>{
								console.log(res)
								if(res.code == 0){
									uni.navigateTo({
									    url: `/pages/PathologicalDetection/detectionInfo?id=${id}`
									});
								}/* else{
									uni.showToast({
									    title: '上传出现问题，请重新尝试！',
									    duration: 2000,
										icon: 'none'
									});
								} */
							})
							
						}
					})
				}else{
					this.$refs.uUpload.clear();
					this.fileNameList = [];
					uni.showToast({
					    title: res.content.error,
					    duration: 2000,
						icon: 'none'
					});
				}
			})
		},
		

	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.main {
	.upload-container {
		margin: 20rpx;
		border: 2rpx solid #dddddd;
		border-radius: 10rpx;
		padding: 10rpx;
		.title {
			padding: 10rpx;
			margin: 10rpx 0;
			font-size: 28rpx;
			font-weight: 500;
			color: #333333;
			line-height: 30rpx;
		}
		.sureupload {
			width: 150rpx;
			height: 50rpx;

			font-size: 24rpx;
			font-family: PingFang;
			font-weight: 500;
			color: #ffffff;
			//float: left;
			margin: 10rpx;
		}
	}
	.checknumber {
		margin: 20rpx;
		border: 2rpx solid #dddddd;
		border-radius: 10rpx;
		padding: 10rpx;
		.fieldstyle {
			padding: 10rpx;
		}
	}
	.form-container {
		.form {
			margin: 20rpx;
			border: 2rpx solid #dddddd;
			border-radius: 10rpx;
			padding: 20rpx;
			/deep/.uni-input-input {
				background-color: #eeeeee;
			}
		}
	}
	.button-container {
		width: 240rpx;
		height: 240rpx;

		margin: 0 auto 50px auto;
		.imgstyle {
			width: 100%;
			height: 100%;
		}
	}
}
</style>
