<template>
	<view class="doctorListItem" @click="handleClickDoctorInfo">
		<view class="left-content">
			<view class="avatar"><image class="avatarstyle" :src="doctorInfo.avatar" mode="heightFix"></image></view>
			<view class="info">
				<view class="name">{{ doctorInfo.nickname }}</view>
				<view class="hospital">{{ doctorInfo.ugroup == '' ? '暂无数据' : doctorInfo.ugroup }}</view>
				<view class="position">{{ doctorInfo.remarks == '' ? '暂无数据' : doctorInfo.remarks }}</view>
			</view>
		</view>

		<view class="focus">
			<u-button class="focuson" type="primary" @click="focuson" v-if="doctorInfo.status == 0">关注</u-button>
			<u-button class="focuson" type="primary" @click="cancelfocus" v-if="doctorInfo.status == 1">取消关注</u-button>
		</view>
	</view>
</template>

<script>
import { mapState } from 'vuex';
export default {
	data() {
		return {};
	},
	props: {
		doctorInfo: {
			type: Object,
			default: () => {
				return {};
			}
		}
	},
	created() {
		console.log(this.doctorInfo, 22);
	},
	methods: {
		focuson() {
			console.log('关注！');
			let params = {
				followid: this.doctorInfo.id,
				id: this.doctorInfo.fid,
				status: 1,
				userid: this.userInfo.id
			};
			this.$u.api
				.focusAndCancelFoucus(params, {
					'Content-Type': 'application/json'
				})
				.then(res => {
					console.log(res);
					if (res.code == 0) {
						//this.doctorInfo.status = 1;
						//this.doctorInfo.status = 1
						this.$emit('getnewInfo');
						uni.showToast({
							title: '操作成功！',
							duration: 2000,
							icon: 'none'
						});
					}
				});
		},
		cancelfocus() {
			console.log('取消关注！');
			let params = {
				followid: this.doctorInfo.id,
				id: this.doctorInfo.fid,
				status: 0,
				userid: this.userInfo.id
			};
			this.$u.api
				.focusAndCancelFoucus(params, {
					'Content-Type': 'application/json'
				})
				.then(res => {
					console.log(res);
					if (res.code == 0) {
						//this.doctorInfo.status = 0;
						this.$emit('getnewInfo');
						uni.showToast({
							title: '操作成功！',
							duration: 2000,
							icon: 'none'
						});
					}
				});
		},
		handleClickDoctorInfo() {
			console.log('详情！');
			uni.navigateTo({
				url: `/pages/doctor/doctorInfo?id=${this.doctorInfo.id}`
			});
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss">
.doctorListItem {
	width: 690rpx;
	height: 180rpx;
	border-radius: 20rpx;
	padding: 25rpx;
	display: flex;
	background-color: #ffffff;
	justify-content: space-between;
	/* display: flex;
	justify-content:space-between; */
	.left-content {
		display: flex;
		.avatar {
			width: 130rpx;
			height: 130rpx;
			.avatarstyle {
				width: 100%;
				height: 100%;
			}
		}
		.info {
			display: flex;
			flex-direction: column;
			margin-left: 20rpx;
			.name {
				font-size: 30rpx;
				font-family: PingFang;
				font-weight: 500;
				color: #333333;
				line-height: 36rpx;
				margin-bottom: 30rpx;
			}
			.hospital {
				font-size: 24rpx;
				font-family: PingFang;
				font-weight: 400;
				color: #999999;
				line-height: 36rpx;
			}
			.position {
				@extend .hospital;
			}
		}
	}

	.focus {
		margin-left: 0rpx;
		display: flex;
		align-items: center;

		.focuson {
			width: 120rpx;
			height: 48rpx;
			background: #0b62e7;
			border-radius: 24rpx;

			font-size: 24rpx;
			font-family: PingFang;
			font-weight: 400;
			color: #ffffff;
			line-height: 36rpx;
		}
	}
}
</style>
