<template>
	<view class="main">
		<view class="title">
			请绑定你的精康检测卡
		</view>
		<view class="form-container">
			<u-form :model="form" ref="uForm" label-width="150">
				
				<u-form-item label="输入卡号"><u-input v-model="form.card" placeholder="请输入精康检测卡卡号"/></u-form-item>
			</u-form>
		</view>

		<view class="button-container"><u-button class="buttonstyle" @click="bindCard">绑定</u-button></view>
	</view>
</template>

<script>
	import {mapState } from 'vuex'
	export default {
		data() {
			return {
				form:{
					card:''
				}
			};
		},
		methods:{
			bindCard(){
				if(this.form.card == ''){
					uni.showToast({
					    title: '请输入卡号！',
					    duration: 2000,
						icon: 'none'
					});
					return false;
				}	
				this.$u.get(`${this.$u.http.config.baseUrl}/iccard/api/bindJKCard/${this.form.card}/${this.userInfo.id}`).then(res=>{
					console.log(res);
					if(res.code == 0){
						uni.showToast({
							title: '绑定成功！',
							duration: 1000,
							icon: 'none'
						});
						setTimeout(function() {
							uni.switchTab({
								url: '/pages/user/user'
							});
						}, 1000)
					}else {
						uni.showToast({
							title: res.msg,
							duration: 1000,
							icon: 'none'
						});
					}
				}).catch(err=>{
					console.log(err)
				})
			}
		},
		computed:{
			...mapState(['userInfo'])
		}
	}
</script>

<style lang="scss" scoped>
.main {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	.title{
		padding: 30rpx 0 0 30rpx;
		
	}
	.form-container {
		padding-top: 40rpx;

		.u-form {
			padding: 0 30rpx;
			background-color: #ffffff;
		}
	}

	.button-container {
		margin-top: 80rpx;
		.buttonstyle {
			width: 690rpx;
			height: 88rpx;
			background: #0c62e7;
			border-radius: 10px;
			color: #ffffff;
		}
	}
}
</style>
