<template>
	<view class="myfocus-container">
		<view class="data" v-if="doctorsList.length > 0" v-for="item in doctorsList" :key='item.id'>
			<focusListItem :doctorInfo="item" @getnewInfo='getnewInfo'></focusListItem>
		</view>
		<view class="nodata" v-if="doctorsList.length == 0">
			<u-empty text="您还未关注任何人" mode="data"></u-empty>
		</view>
		<u-loadmore bg-color="#f7f7f7" v-if="doctorsList.length > limit"  :status="status" class="loadmore" @loadmore="loadmore"/>
	</view>
</template>

<script>
	import focusListItem from '@/components/doctorListItem/doctorListItem.vue'
	import {mapState } from 'vuex'
	export default {
		data() {
			return {
				doctorsList:[],
				limit:8,
				page:1,
				status:'loadmore',
				total:''
			}
		},
		onLoad() {
			this.getFocusList();
		},
		methods: {
			getnewInfo(){
				this.page = 1;
				this.doctorsList = [];
				this.getFocusList();
			},
			getFocusList(){
				let params = {
					id: this.userInfo.id,
					limit: this.limit,
					page: this.page,
				}
				this.$u.api.getMyDoctors(params).then(res=>{
					console.log(res)/* res.data=null  */
					if(res.code == 0){
						if (res.data.data.length < this.limit) {
							this.status = 'nomore';
							
						}
						if(res.data.data.length > this.limit){
							this.status = 'loadmore';
						}
						this.total = res.data.total;
						this.doctorsList = this.doctorsList.concat(res.data.data);
					}
				})
			},
			loadmore(){
				console.log('11')
			}
		},
		onReachBottom() {
			console.log('到底了！');
			if(this.total == this.doctorsList.length){
				this.status = 'nomore'
				return false;
			}
			this.page++;
			this.getFocusList();
		},
		components:{
			focusListItem
		},
		computed:{
			...mapState(['userInfo'])
		}
	}
</script>

<style lang="scss" scoped>
.myfocus-container{
	width: 100%;
	//height: 100%;
	background-color: #f7f7f7;
	min-height: 100vh;
	display: flex;
	//justify-content: center;
	//padding-top: 30rpx;
	flex-direction: column;
	.data{
		display: flex;
		justify-content: center;
		padding-top: 30rpx;
	}
	.nodata{
		//min-height: 600px;
		//height: 100%;
		padding-top: 200px;
	}
}
</style>
