<template>
	<view class="main">
		<view class="data" v-if="messagesList.length>0">
			<u-swipe-action  v-for="(item, index) in messagesList" :key="item.creatTime" :index="index" @click="hideOrDel" :options="options">
				<view class="mymessages"   >
					<messagesListItem :messageInfo='item'></messagesListItem>
				</view>
			</u-swipe-action>
		
			
		</view>
		<view class="nodata" v-else>
			<u-empty text="没有消息" mode="message"></u-empty>
		</view>
	</view>
	
</template>

<script>
	import messagesListItem from '@/components/messagesListItem/messagesListItem.vue'
	import {mapState } from 'vuex'
	export default {
		data() {
			return {
				messagesList:[],
				options:[
					{
						text: '隐藏',
						style: {
							backgroundColor: '#007aff'
						}
					},
					{
						text: '删除',
						style: {
							backgroundColor: '#dd524d'
						}
					}
				]
			};
		},
		onShow() {
			this.getMessagesList();
			this.$goEasy.subscribe({
			    channel: this.userInfo.id,//
			    onMessage:  (message)=> {
			        console.log("Channel:" + message.channel + " content:" + message.content);
					this.getMessagesList();
			    },
			    onSuccess: function () {
			        console.log("Channel订阅成功。");
			    },
			    onFailed: function (error) {
			        console.log("Channel订阅失败, 错误编码：" + error.code + " 错误信息：" + error.content)
			    }
			});
		},
		onLoad() {
			
		},
		methods:{
			getMessagesList(){
				let params = {
					id:this.userInfo.id
				}
				this.$u.api.getMessages(params).then(res=>{
					console.log(res)
					if(res.code == 0){
						this.messagesList = res.data;
						/* let arryNew = []
						res.data.map((item, index) => {
						    arryNew.push(Object.assign({}, item, { show: false }))
						})
						this.messagesList = arryNew;
						console.log(this.messagesList) */
					} 
				})
			},
			hideOrDel(index,index1){
				console.log(index,index1)
				const data = this.messagesList[index];
				const tid = this.userInfo.id == data.userId ? data.replyUserId : data.userId;
				if(index1 == 0){ //隐藏
					uni.showModal({
						title: '提示',
						content: '隐藏后记录依旧存在，再次进行聊天时出现，你确定要进行隐藏操作吗？',
						success: res => {
							if (res.confirm) {
								this.$u.get(`${this.$u.http.config.baseUrl}/comment/hideComment/${this.userInfo.id}/${tid}`).then(res=>{
									console.log(res);
									if(res.code == 0){
										uni.showToast({
											title: '隐藏成功！',
											duration: 1000,
											icon: 'none'
										});
										//this.messagesList.splice(index,1)
										this.getMessagesList();
									}
								}).catch(err=>{
									console.log(err);
								})
								
							} else if (res.cancel) {
							}
						}
					}); 
				}else{  //删除
				    //console.log(this.messagesList[index],this.userInfo)
					/* const data = this.messagesList[index];
					const tid = this.userInfo.id == data.userId ? data.replyUserId : data.userId;
					console.log(tid) */
					uni.showModal({
						title: '警告',
						content: '删除后留言内容无法找回，你确定要进行删除操作吗？',
						success: res => {
							if (res.confirm) {
								this.$u.get(`${this.$u.http.config.baseUrl}/comment/deleteComment/${this.userInfo.id}/${tid}/${0}`).then(res=>{
									console.log(res);
									if(res.code == 0){
										uni.showToast({
											title: '删除成功！',
											duration: 1000,
											icon: 'none'
										});
										//this.messagesList.splice(index,1)
										this.getMessagesList();
									}
								}).catch(err=>{
									console.log(err);
								})
								
							} else if (res.cancel) {
							}
						}
					});
					
					
					
				}
			}
		},
		computed:{
			...mapState(['userInfo'])
		},
		components:{
			messagesListItem
		}
	}
</script>

<style lang="scss" scoped>
.main{
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	min-height: 100vh;
}
.nodata{
	//height: 100%;
	padding-top: 200px;
}
</style>
