<template>
	<view class="updateUserInfo">
		<view class="infoList">
			<u-cell-group>
				<u-cell-item :src="userInfo.avatar" title="头像" :value-style="valuestyle" @click="chooseAvatar"></u-cell-item>
				<u-cell-item title="昵称" :value="userInfo.nickname" @click="goToUpdateNickname"></u-cell-item>
				<u-cell-item title="账号" :value="userInfo.userName" v-if="userInfo.type == 4"></u-cell-item>
				<u-cell-item title="精康检测卡" :value="Jkcard" @click="bindCard"></u-cell-item>
				<u-cell-item title="版本号" :value="version"></u-cell-item>
			</u-cell-group>
		</view>
		<view class="buttons"><view class="logout" @click="toLogout">退出当前账户</view></view>
	</view>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex';
export default {
	data() {
		return {
			valuestyle: {
				display: 'flex',
				'flex-direction': 'row-reverse',
				'align-items': 'center'
			},
			Jkcard: '',
			version: '1.1.1' //版本号
		};
	},
	onLoad() {
		this.getJKCard();
	},
	methods: {
		...mapMutations(['logout']),
		...mapActions(['getNewUserInfo']),
		goToUpdateNickname() {
			uni.navigateTo({
				url: '/pages/user/updateNcikname'
			});
		},
		bindCard() {
			uni.navigateTo({
				url: '/pages/user/bindCard'
			});
		},
		toLogout() {
			uni.showModal({
				title: '注销',
				content: '你确定要进行注销操作吗？',
				success: res => {
					if (res.confirm) {
						this.logout();
						this.$goEasy.disconnect({
							onSuccess: function() {
								console.log('GoEasy disconnect successfully.');
							},
							onFailed: function(error) {
								console.log('Failed to disconnect GoEasy, code:' + error.code + ',error:' + error.content);
							}
						});
						uni.showToast({
							title: '注销成功！',
							duration: 1000,
							icon: 'none'
						});
						setTimeout(function() {
							uni.reLaunch({
								url: '/pages/login/login'
							});
						}, 1000);
					} else if (res.cancel) {
					}
				}
			});
		},
		getJKCard() {
			this.$u.get(`${this.$u.http.config.baseUrl}/upload/checkUserJKCard/${this.userInfo.id}`).then(res => {
				console.log(res);
				if (res.success) {
					this.Jkcard = res.content.number;
				} else {
					this.Jkcard = '未绑定';
				}
			});
		},
		chooseAvatar() {
			uni.chooseImage({
				success: chooseImageRes => {
					console.log(chooseImageRes);
					const tempFilePaths = chooseImageRes.tempFilePaths;
					uni.uploadFile({
						url: `${this.$u.http.config.baseUrl}/user/api/image`, //仅为示例，非真实的接口地址
						filePath: tempFilePaths[0],
						name: 'file',
						formData: {
							imgName: this.userInfo.avatar
						},
						success: uploadFileRes => {
							console.log(JSON.parse(uploadFileRes.data));
							const res = JSON.parse(uploadFileRes.data);
							if (res.code == 0) {
								let params = {
									id: this.userInfo.id,
									avatar: res.data
								};
								this.$u.api
									.registerOrUpdate(params, {
										'Content-Type': 'application/json'
									})
									.then(res => {
										console.log(res);
										if (res.code == 0) {
											uni.showToast({
												title: '修改成功！',
												duration: 1000,
												icon: 'none'
											});
											this.getNewUserInfo({ id: this.userInfo.id });
											setTimeout(function() {
												uni.switchTab({
													url: '/pages/user/user'
												});
											}, 1000);
										}
									});
							}
						}
					});
				}
			});
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.updateUserInfo {
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	min-height: 600px;
	.infoList {
	}
	.buttons {
		width: 100%;
		height: 100rpx;
		background: #ffffff;
		margin-top: 20rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		.logout {
			font-size: 30rpx;
			font-family: PingFang;
			font-weight: 500;
			color: #0b62e7;
			text-align: center;
			width: 200rpx;
			height: 40rpx;
			text-align: center;
		}
	}
}
</style>
