<template>
	<view class="main">
		<view class="title">
			请重设你的昵称
		</view>
		<view class="form-container">
			<u-form :model="form" ref="uForm" label-width="150">
				
				<u-form-item label="设置昵称"><u-input v-model="form.nickname" /></u-form-item>
			</u-form>
		</view>
		<view class="prompt">昵称不少于1位，可以包含数字、字母、字符</view>
		<view class="button-container"><u-button class="buttonstyle" @click="update">提交</u-button></view>
	</view>
</template>

<script>
	import {mapState, mapActions} from 'vuex'
	export default {
		data() {
			return {
				form:{
					nickname:''
				}
			};
		},
		methods:{
			...mapActions(['getNewUserInfo']),
			update(){
				let params={
					id: this.userInfo.id,
					nickname: this.form.nickname
				}
				this.$u.api.registerOrUpdate(params,{
					"Content-Type": "application/json"
				}).then(res=>{
					console.log(res)
					if(res.code == 0){
						uni.showToast({
							title: '修改成功！',
							duration: 1000,
							icon: 'none'
						});
						this.getNewUserInfo({id:this.userInfo.id})
						setTimeout(function() {
							uni.switchTab({
								url: '/pages/user/user'
							});
						}, 1000)
					}else{
						uni.showToast({
							title: '修改失败！',
							duration: 1000,
							icon: 'none'
						});
					}
					
				})
			}
		},
		computed:{
			...mapState(['userInfo'])
		}
	}
</script>

<style lang="scss">
.main {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	.title{
		padding: 30rpx 0 0 30rpx;
		
	}
	.form-container {
		padding-top: 40rpx;

		.u-form {
			padding: 0 30rpx;
			background-color: #ffffff;
		}
	}
	.prompt {
		font-size: 24rpx;
		margin: 30rpx;
		color: #9a9a9a;
	}
	.button-container {
		margin-top: 80rpx;
		.buttonstyle {
			width: 690rpx;
			height: 88rpx;
			background: #0c62e7;
			border-radius: 10px;
			color: #ffffff;
		}
	}
}
</style>
