<template>
	<view class="updatepsd">
		<view class="title">请重设你的密码</view>
		<view class="form-container">
			<u-form :model="form" ref="uForm" label-width="200">
				<u-form-item label="输入旧密码" prop="oldpsd"><u-input v-model="form.oldpsd" placeholder="请输入密码" type="password"/></u-form-item>

				<u-form-item label="设置密码" prop="password"><u-input v-model="form.password" placeholder="请输入密码" type="password"/></u-form-item>
				<u-form-item label="确认密码" prop="repassword"><u-input v-model="form.repassword" placeholder="请再次输入密码" type="password"/></u-form-item>
			</u-form>
		</view>
		<view class="prompt">密码长度8~16位，数字、字母、字符至少包含两种</view>
		<view class="button-container"><u-button class="buttonstyle" @click="updatepsd">提交</u-button></view>
	</view>
</template>

<script>
import { mapState,mapMutations } from 'vuex';
import md5Libs from "uview-ui/libs/function/md5";
export default {
	data() {
		return {
			form: {
				oldpsd: '',
				password: '',
				repassword: ''
			},
			rules:{
				oldpsd:[
					{
						required: true,
						message: '请输入原密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					},
				],
				password:[
					{
						required: true,
						message: '请输入新密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					}
				],
				repassword:[
					{
						required: true,
						message: '请再次输入新密码',
						// 可以单个或者同时写两个触发验证方式
						trigger: 'blur'
					},
					{
						validator: (rule, value, callback) => {
							return this.form.password == value;
						},
						message: '两次密码不一致',
						trigger: 'blur',
					}
				]
			}
		};
	},
	onReady() {
		this.$refs.uForm.setRules(this.rules);
	},
	methods: {
		...mapMutations(['logout']),
		updatepsd() {
			this.$refs.uForm.validate(valid => {
				if(valid){
					this.$u.get(`${this.$u.http.config.baseUrl}/user/api/checkoutOldPassword/${this.userInfo.id}/${md5Libs.md5(this.form.oldpsd)}`).then(res => {
						console.log(res);
						if(res.code == 0){
							let params = {
								id:this.userInfo.id,
								pwd:md5Libs.md5(this.form.password)
							}
							/* this.$u.put(`${this.$u.http.config.baseUrl}/user/api/modifyPassword`,params,{
								"Content-Type": "application/json"
							}) */
							this.$u.api.registerOrUpdate(params,{
								"Content-Type": "application/json"
							}).then(res=>{
								console.log(res)
								if(res.code==0){
									this.logout();
									uni.showToast({
									    title: '修改成功！',
									    duration: 1000,
										icon: 'none'
									});
									setTimeout(function() {
										uni.reLaunch({
										    url: '/pages/login/login'
										});
									}, 1000)
								}
							})
						}else{
							uni.showToast({
							    title: '原密码错误！',
							    duration: 2000,
								icon: 'none'
							});
						}
					});
				}else {
					console.log('验证失败');
				}
			});
			
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss">
.updatepsd {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	.title {
		padding: 30rpx 30rpx;
	}
	.form-container {
		.u-form {
			padding: 0 30rpx;
			background-color: #ffffff;
		}
	}
	.prompt {
		font-size: 24rpx;
		margin: 30rpx;
		color: #9a9a9a;
	}
	.button-container {
		margin-top: 80rpx;
		.buttonstyle {
			width: 690rpx;
			height: 88rpx;
			background: #0c62e7;
			border-radius: 10px;
			color: #ffffff;
		}
	}
}
</style>
