<template>
	<view class="user-main">
		<view class="blue-bg"></view>
		<view class="top-field">
			<view class="avatar">
				<u-image width="100%" height="100%" :src="userInfo.avatar" shape="circle" @click="goPeopleInfo"></u-image>
				<view class="name">{{ userInfo.nickname }}</view>
			</view>
			<view class="top-field-main">
				<view class="focus" @click="gomyfocus">
					<view class="number">{{ focusNumber }}</view>
					<view class="text">我的关注</view>
				</view>
				<view class="history" @click="gomyhistory">
					<view class="number">{{ historyNumber }}</view>
					<view class="text">检测记录</view>
				</view>
			</view>
		</view>
		<view class="list-field">
			<u-cell-group>
				<u-cell-item icon="../../static/imgs/mmxg.png" iconSize="54" title="修改密码" :title-style="titlestyle" @click="updatePsd"></u-cell-item>
				<u-cell-item icon="../../static/imgs/xxxg.png" title="信息修改" iconSize="54" :title-style="titlestyle" @click="updateUserInfo"></u-cell-item>
				<u-cell-item icon="../../static/imgs/bdkh.png" title="绑定卡号" iconSize="54" :title-style="titlestyle" @click="bindCard"></u-cell-item>
				<!-- <u-cell-item icon="../../static/imgs/wdly.png" title="购买会员" iconSize="54" :title-style="titlestyle" @click="buyMembers"></u-cell-item> -->
			</u-cell-group>
		</view>
		<u-select v-model="show" mode="mutil-column" :list="list" @confirm="confirm"></u-select>
		<!-- <button type="default" @click="alipay">test</button> -->
	</view>
</template>

<script>
import { mapState } from 'vuex';
export default {
	data() {
		return {
			titlestyle: {
				'font-size': '30rpx',
				color: '#7B7B7B'
			},
			focusNumber: '0',
			historyNumber: '0',
			limit: 5,
			page: 1,
			show: false,
			list: [
				[
					{
						value: '1',
						label: '一个月/60元'
					},
					{
						value: '2',
						label: '三个月/150元'
					},
					{
						value: '3',
						label: '六个月/270元'
					},
					{
						value: '4',
						label: '一年/480元'
					}
				],
				[
					{
						value: '001',
						label: '支付宝'
					},
					{
						value: '002',
						label: '微信'
					}
				]
			]
		};
	},
	onShow() {
		console.log(this.userInfo);
		this.getFocus();
		this.getHistory();
	},
	methods: {
		updatePsd() {
			uni.navigateTo({
				url: '/pages/user/updatepsd'
			});
		},
		updateUserInfo() {
			uni.navigateTo({
				url: '/pages/user/updateUserInfo'
			});
		},
		bindCard() {
			uni.navigateTo({
				url: '/pages/user/bindCard'
			});
		},
		goPeopleInfo(){
			uni.navigateTo({
				url: '/pages/user/updateUserInfo'
			});
		},
		buyMembers() {
			this.show = true;
		},
		confirm(e) {
			/* uni.navigateTo({
				url: '/pages/pay/pay'
			}); */
			console.log(e)
		},
		gomyfocus() {
			uni.navigateTo({
				url: '/pages/user/myfocus'
			});
		},
		gomyhistory() {
			uni.navigateTo({
				url: '/pages/PathologicalDetection/history'
			});
		},
		getFocus() {
			//获取关注的数量
			let params = {
				id: this.userInfo.id,
				limit: this.limit,
				page: this.page
			};
			this.$u.api.getMyDoctors(params).then(res => {
				console.log(res); /* res.data=null  */
				if (res.code == 0) {
					this.focusNumber = res.data.total;
				}
			});
		},
		getHistory() {
			//获取历史纪录数量
			this.$u.get(`${this.$u.http.config.baseUrl}/upload/getResultGroupData?id=&page=1&limit=5&username=${this.userInfo.userName}`).then(res => {
				console.log(res);
				this.historyNumber = Number(res.count);
			});
		},
		alipay() {
			let orderInfo =
				"alipay_sdk=alipay-sdk-java-dynamicVersionNo&app_id=2021002107615709&biz_content=%7B%22out_trade_no%22%3A%22d4cafbffeb644ad9a24b16692e1e776f%22%2C%22passback_params%22%3A%22%E5%85%AC%E7%94%A8%E5%9B%9E%E4%BC%A0%E5%8F%82%E6%95%B0%EF%BC%8C%E5%A6%82%E6%9E%9C%E8%AF%B7%E6%B1%82%E6%97%B6%E4%BC%A0%E9%80%92%E4%BA%86%E8%AF%A5%E5%8F%82%E6%95%B0%EF%BC%8C%E5%88%99%E8%BF%94%E5%9B%9E%E7%BB%99%E5%95%86%E6%88%B7%E6%97%B6%E4%BC%9A%E5%9B%9E%E4%BC%A0%E8%AF%A5%E5%8F%82%E6%95%B0%22%2C%22product_code%22%3A%22QUICK_MSECURITY_PAY%22%2C%22subject%22%3A%22%E6%8A%80%E6%9C%AF%E6%9C%8D%E5%8A%A1%22%2C%22total_amount%22%3A%220.01%22%7D&charset=UTF-8&format=json&method=alipay.trade.app.pay&notify_url=http%3A%2F%2F127.0.0.1%3A8081%2Fapi%2Falipay%2Fnotify&sign=uR7vvmPVtBevsAWFHdbuFYBB4ZlVlrMgOm0O4hF8yVMkqWLLcdX7wwp5a%2BYkeWc8gRb%2FtITAihPNDdLbPSFO0cE3yfU9Id6Fqi5A9Jv3UrHv0Ywe3oQsKcDYNp%2FG0XABCxblDk0wjlITFbrGn6znoHt7zJD9qBma%2BIRmRI%2BI6CgkL8GTcEhkNVWtAisrM5WuUIHVTW66T24oSi7U%2BIUjiu5r6R%2Bq31KZc7tekTIaG5zQqCeEdUDqvBKd4m2HvM5nKs5kjiJw4I%2F2Yu3njn4kBUZHOaAr7dN8ZN%2BKu6siNKLZK3mJ84lz8SF3yx5MomLapJLRmhghD9WVo4dP59BBcA%3D%3D&sign_type=RSA2&timestamp=2020-11-05+16%3A21%3A18&version=1.0";
			this.$u.post(`http://39.105.98.101:9000/order/unifiedOrder`,{
				amount:'1',
				fee:'0.01',
				subject:'咨询服务',
				targetuserid:3,
				type:0,
				userid:4
			}).then(res=>{
				console.log(res)
				/* todo 判断具体错误 */
				orderInfo = res.data
				/* uni.requestPayment({
					provider: 'alipay',
					orderInfo: orderInfo,
					success: function(res) {
						console.log('success:' + JSON.stringify(res));
					},
					fail: function(err) {
						console.log('fail:' + JSON.stringify(err));
					}
				}); */
			})
			
			
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss">
.user-main {
	/* width: 100%;
	height: 650px; */
	min-height: 100vh;
	background: #f7f7f7;
	position: relative;
	.blue-bg {
		width: 100%;
		height: 227rpx;
		background-color: #0b62e7;
	}
	.top-field {
		width: 690rpx;
		height: 290rpx;
		background-color: #ffffff;
		position: absolute;

		border-radius: 10px;
		top: 80rpx;
		//left: 30rpx;
		left: 50%;
		transform: translate(-50%, 0);
		.avatar {
			width: 180rpx;
			height: 180rpx;
			position: absolute;
			//left: 260rpx;
			left: 50%;
			top: -80rpx;
			transform: translate(-50%, 0);
			.name {
				text-align: center;

				font-weight: bold;
				color: #3e3e3e;
			}
		}
		.top-field-main {
			display: flex;
			margin-top: 150rpx;
			.focus {
				flex: 1;
				display: flex;
				flex-direction: column;
				.number {
					text-align: center;
					font-size: 24px;
				}
				.text {
					text-align: center;
					color: #7b7b7b;
				}
			}
			.history {
				@extend .focus;
			}
		}
	}
	.list-field {
		width: 690rpx;
		margin: 0 auto;
		margin-top: 180rpx;
	}
}
</style>
