<template>
	<view class="newInfo">
		<view class="title">{{ newInfo.title }}</view>
		<view class="type-time">
			<view class="type">{{ newInfo.type }}</view>
			<view class="time">{{ newInfo.createtime }}</view>
		</view>
		<view class="content">
			<u-parse :html="newInfo.content"></u-parse>
			
		</view>
	</view>
</template>

<script>
	import utils from '../../common/baseMethods.js'
export default {
	data() {
		return {
			
			newInfo: {}
		};
	},
	onLoad(options) {
		console.log(options);
		this.getNewInfo(options.Id)

	},
	methods:{
		getNewInfo(id){
			this.$u.get(`${this.$u.http.config.baseUrl}/news/${id}`).then(res=>{
				console.log(res)
				if(res.code == 0){
					this.newInfo = res.data;
					this.newInfo.createtime = utils.renderTime(this.newInfo.createtime)
				}
			}).catch(err=>{
				console.log(err)
			})
		}
	}
};
</script>

<style lang="scss" scoped>
.newInfo {
	padding: 40rpx;
	.title {
		font-size: 40rpx;
		font-family: PingFang;
		font-weight: 500;
		color: #333333;
		line-height: 36px;
	}
	.type-time {
		display: flex;
		justify-content: space-between;
		.type {
			font-size: 24rpx;
			line-height: 48rpx;
			color: #999999;
		}
		.time {
			@extend .type;
		}
	}
	.content {
	}
}
</style>
