<template>
	<view class="main">
		<u-navbar :is-back="false" title="" :background="navBg">
			<view class="slot-wrap"><u-search shape="round" v-model="searchContent" :show-action="false" height="60" @search="searchNew" @focus='focus' @blur="blur"></u-search></view>
		</u-navbar>
		<view class="top-img"><image src="../../static/imgs/newsbg.jpg" mode="center" class="img"></image></view>
		
		<view class="news-container">
			<view class="title">新闻列表</view>
			<view class="content" v-if="newsData.length > 0" v-for="item in newsData" :key="item.Id"><news-list-item :newdata="item"></news-list-item></view>
			<view class="empty" v-if="newsData.length == 0"><u-empty text="" mode="news"></u-empty></view>
		</view>
		<u-loadmore v-if="newsData.length > 0" :status="status" class="loadmore" @loadmore="loadmore"/>
	</view>
</template>

<script>
import newsListItem from '@/components/newsListItem/newsListItem.vue';
import {mapState } from 'vuex'
export default {
	data() {
		return {
			newsData: [],
			searchContent: '',
			navBg: {
				backgroundColor: '#0C62E7'
			},
			current:1,
			size:5,
			total:'',
			status:'loadmore'
		};
	},
	onLoad() {
		console.log('onload')
		this.getNews()
		setTimeout(()=>{
			this.$goEasy.subscribe({
			    channel: this.userInfo.id,//替换为您自己的channel
			    onMessage: function (message) {
			        console.log("Channel:" + message.channel + " content:" + message.content);
			    },
			    onSuccess: function () {
			        console.log("Channel订阅成功。");
			    },
			    onFailed: function (error) {
			        console.log("Channel订阅失败, 错误编码：" + error.code + " 错误信息：" + error.content)
			    }
			});
		},3000)
	},

	/* onNavigationBarSearchInputClicked(e) {
			console.log('点击了搜索框')
		},
		onNavigationBarSearchInputChanged(e) {
			console.log(e.text)  //打印输入框值
		}, */
	methods: {
		searchNew(val){
			console.log(val)
		},
		focus(val){
			console.log('聚焦了！')
			uni.hideTabBar()
		},
		blur(){
			console.log('失去焦点了！')
			uni.showTabBar()
		},
		getNews(){
			
			let params = {
				current: this.current,
				size: this.size
			}
			this.$u.api.getNewsList(params).then(res=>{
				//console.log(res)
				console.log(111)
				if(res.code == 0){
					
					
					
					if (res.data.length < this.size) {
						this.status = 'nomore';
						
					}
					if(res.data.length > this.size){
						this.status = 'loadmore';
					}
					this.total = res.data.total;
					this.newsData = this.newsData.concat(res.data.records.reverse());
				}
				
			}).catch(err=>{
				console.log(err)
			})
		},
		loadmore(){
			console.log('loadmore')
			this.status = 'nomore'
			
		}
		
	},
	onReachBottom(){
		console.log('页面到底了!')
		if(this.total <= this.newsData.length){
			this.status = 'nomore'
			return false;
		}
		this.current++;
		this.getNews();
		
	},
	components: {
		newsListItem
	},
	computed:{
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.main {
	width: 100%;
	height: 100%;
	//padding: 30rpx;
	.slot-wrap {
		display: flex;
		align-items: center;
		flex: 1;
		padding: 0 10rpx;
	}
	.top-img {
		height: 300rpx;
		padding: 30rpx;
		background-color: #f7f7f7;
		.img {
			width: 100%;
			height: 100%;
		}
	}
	.news-container {
		padding: 30rpx;
		/* margin-bottom: 50px; */
		.title {
			font-size: 30rpx;
			font-weight: bold;
			color: #333333;
		}
		.content {
			margin-top: 20rpx;
		}
		.empty{
			margin-top: 200rpx;
		}
	}
	.loadmore{
		padding-bottom: 50px;
	}
}
</style>
