<template>
	<view class="historyListItem-main" @click="goDetectionInfo">
		<view class="header">
			<view class="detectionId">检测编号：{{infodata.detectionId}}</view>
			<view class="time">{{infodata.upTime}}</view>
		</view>
		
		<view class="body">
			<view class="result">检测结果：置信区间为 {{infodata.reResult}}</view>
		</view>
		
		<view class="bottom">
			<view class="patientId">病人编号：{{infodata.patientId}}</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		},
		onLoad() {
			console.log(this.infodata,111)
			//console.log('ok')
		},
		props:{
			infodata:{
				type:Object,
				default:()=>{
					return {}
				}
			}
		},
		methods:{
			goDetectionInfo(){
				uni.navigateTo({
				    url: `/pages/PathologicalDetection/detectionInfo?id=${this.infodata.id}`
				});
			}
		}
	}
</script>

<style lang="scss" scoped>
.historyListItem-main{
	width: 690rpx;
	height: 280rpx;
	background: #FFFFFF;
	border-radius: 10rpx;
	padding: 36rpx;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	.header{
		display: flex;
		justify-content: space-between;
		.detectionId{
			
			font-size: 30rpx;
			font-family: PingFang;
			font-weight: bold;
			color: #333333;
		}
		.time{
			color: #999999;
		}
	}
	.body{
		border-bottom:1px solid #EEEEEE ;
		border-top:1px solid #EEEEEE ;
		height: 80rpx;
		display: flex;
		
		align-items: center;
		.result{
			color: #999999;
		}
	}
	.bottom{
		.patientId{
			
			font-size: 24rpx;
			font-family: PingFang;
			font-weight: bold;
			color: #333333;
			
		}
	}
}
</style>
