<template>
	<view class="messageBox" v-if="messageData.length !== 0">
		<view class="main">
			<scroll-view scroll-y="true" @scrolltoupper="scrolltoupper" :style="{ height: style.contentViewHeight + 'px' }" :scroll-top="scrollTop" id="scrollview">
				<view class="top-field">
					<u-avatar :src="uid == messageData[0].userId ? messageData[0].replyUserAvatar : messageData[0].userAvatar" size="120"></u-avatar>
					<view class="peopleInfo">
						<view class="name">{{ uid == messageData[0].userId ? messageData[0].replyUserName : messageData[0].userName }}</view>
					</view>
				</view>
				<view class="loadingLogo"><u-loading mode="flower" :show="showLoading" :size="50"></u-loading></view>
				<view class="container" v-for="(item,index) in messageData" :key="item.commentId+''+index">
					<!-- <view class="popup-left" v-if="item.userId !== uid && popupId == item.commentId">
						11
					</view> -->
					<view class="left-message" v-if="item.userId !== uid">
						<u-avatar :src="item.userId == uid ? item.replyUserAvatar : item.userAvatar" size="86"></u-avatar>
						<view class="content">
							<view class="" @longpress="clickLong(item,index)" v-if="item.commentType == 1" @click="TanPreviewImage(item,index)">
								<image :src="item.commentMsg" :lazy-load='true' mode="aspectFit"  class="img-chat" ></image>
							</view>
							<view v-if="item.commentType == 0" class="text" @longpress="clickLong(item,index)">{{ item.commentMsg }}</view>
							<view class="voice" @tap="handleAudio(item)" v-if="item.commentType == 2" @longpress="clickLong(item,index)">
								<view class="voice_icon" :class="[{ voice_icon_left: true }, { voice_icon_left_an: item.audioPlay == 1 }]"></view>
								<view class="">{{ item.audioDuration }}''</view>
							</view>
							<view class="time">{{ item.creatTime }}</view>
						</view>
					</view>
					<!-- <view class="popup" v-if="item.userId !== uid">
						11
					</view> -->
					<view class="right-message" v-else>
						<u-avatar :src="item.userId !== uid ? item.replyUserAvatar : item.userAvatar" size="86"></u-avatar>
						<view class="content">
							<view class="" @longpress="clickLong(item,index)" v-if="item.commentType == 1" @click="TanPreviewImage(item,index)">
								<image :src="item.commentMsg" :lazy-load='true' mode="aspectFit"  class="img-chat" ></image>
							</view>
							<view v-if="item.commentType == 0" class="text" @longpress="clickLong(item,index)">{{ item.commentMsg }}</view>
							<view class="voice content-type-right" @tap="handleAudio(item)" v-if="item.commentType == 2" @longpress="clickLong(item,index)">
								<view class="voice_icon" :class="[{ voice_icon_right: true }, { voice_icon_right_an: item.audioPlay == 1 }]"></view>
								<view class="">{{ item.audioDuration }}''</view>
							</view>
							<view class="time">{{ item.creatTime }}</view>
						</view>
					</view>
				</view>
				<!-- <view id="gundong" style="height: 1px;"></view> -->
			</scroll-view>
		</view>
		<u-select v-model="show" mode="mutil-column" :list="list" @confirm="goPay"></u-select>
		<u-action-sheet v-model="show1" mode="mutil-column" :list="list1" @click="delMsg" :cancel-btn="true"></u-action-sheet>
		<!-- <button type="default" @click="test">test</button> -->
		<view class="message-input">
			<view class="input-content">
				<image v-if="chatType === 'voice'" class="icon_img" :src="require('@/static/voice.png')" @click="switchChatType('keyboard')"></image>
				<image v-if="chatType === 'keyboard'" class="icon_img" :src="require('@/static/keyboard.png')" @click="switchChatType('voice')"></image>
				<input v-if="chatType === 'voice'" class="input-main" confirm-type="done" type="text" value="" v-model="message" @focus="readyInput" />
				<view
					class="voice_title"
					v-if="chatType === 'keyboard'"
					@touchstart.stop.prevent="startVoice"
					@touchmove.stop.prevent="moveVoice"
					@touchend.stop="endVoice"
					@touchcancel.stop="cancelVoice"
				>
					{{ voiceTitle }}
				</view>
				<!-- <u-field v-model="message" label="" label-width="0" placeholder="" :border-bottom="false" @focus="readyInput"></u-field> -->
				<image src="../../static/imgs/submit.png" class="submit-logo" mode="" @click="isShowFun"></image>
				<u-button type="primary" class="send-button" @click="submit">发送</u-button>
			</view>
			<view class="fun-box" :class="{ 'show-fun-box': showFunBtn }">
				<u-grid :col="4" hover-class="contentType2-hover-class" :border="false" @tap="clickGrid">
					<u-grid-item v-for="(item, index) in funList" :index="index" :key="index" bg-color="#eaeaea">
						<u-icon :name="item.icon" :size="52"></u-icon>
						<view class="grid-text">{{ item.title }}</view>
					</u-grid-item>
				</u-grid>
			</view>
			<!-- //语音动画 -->
			<view class="voice_an" v-if="recording">
				<view class="voice_an_icon">
					<view id="one" class="wave"></view>
					<view id="two" class="wave"></view>
					<view id="three" class="wave"></view>
					<view id="four" class="wave"></view>
					<view id="five" class="wave"></view>
					<view id="six" class="wave"></view>
					<view id="seven" class="wave"></view>
				</view>
				<view class="text">{{ voiceIconText }}</view>
			</view>
		</view>
	</view>
</template>

<script>
	let iapChannel = null,
		productId = 'jkkj20201225',
		productIds = ['jkkj20201225'];
	import {mapState } from 'vuex'
export default {
	data() {
		return {
			uid: '', //用户id
			tid: '', //对方id
			messageData: [],
			message: null,//存放留言文本
			//imgSrc: null,
			style: {
				contentViewHeight: ''
			},
			scrollTop: 2500,
			show: false, //是否底部支付弹框
			list: [
				[
					{
						value: '1',
						label: '7天/6元'
					},
					/* {
						value: '2',
						label: '三个月/150元'
					},
					{
						value: '3',
						label: '六个月/270元'
					},
					{
						value: '4',
						label: '一年/480元'
					} */
				],
				[
					/* {
						value: '001',
						label: '支付宝'
					},
					{
						value: '002',
						label: '微信'
					}, */
					{
						value: '003',
						label: '立即续费'
					}
				]
			],
			scroll: false, //防止重复加载
			limit: 10,
			page: 1,
			total:'',
			showLoading: false, //是否展示下拉加载图标
			show1:false, //是否显示底部删除留言弹框
			list1:[
				{
					text:'删除',
					color:'red'
				},
				{
					text:'重新选择'
				}

			],
			commentId:'',//用于标识需要删除的某一条聊天记录
			showFunBtn:false,
			funList: [
				{ icon:"photo-fill",title:"照片",uploadType:["album"] },
				{ icon:"camera-fill",title:"拍摄",uploadType:["camera"] },
			],
			type:0 ,//留言类型默认为0    0=文本  1=图片 2=语音
			audioDuration:null,//用于addmessage方法
			//audioPlay:null,//用于addmessage方法
			chatType:'voice',
			voiceTitle: '按住 说话',
			voiceIconText:"正在录音...",
			Recorder: uni.getRecorderManager(),
			Audio: uni.createInnerAudioContext(),
			recording: false, //标识是否正在录音
			isStopVoice: false, //加锁 防止点击过快引起的当录音正在准备(还没有开始录音)的时候,却调用了stop方法但并不能阻止录音的问题
			voiceInterval:null,
			voiceTime:0, //总共录音时长
			canSend:true, //是否可以发送
			PointY:0, //坐标位置
			AudioExam:null, //正在播放音频的实例
		};
	},
	onLoad(options) {
		//console.log(options)
		this.uid = Number(options.uid);
		this.tid = Number(options.tid);
		this.getData();
		//console.log(this.userInfo)
		this.$goEasy.subscribe({
		    channel: this.uid,//替换为您自己的channel
		    onMessage:  (message)=> {
				console.log(message)
				let params = {
					tid: Number(this.tid),
					uid: Number(this.uid),
					limit: this.limit,
					page: 1
				};
				this.$u.api.getMessageInfo(params).then(res => {
					console.log(res);
					if (res.code == 0) {
						this.messageData = res.data.data;
						/* this.messageData.unshift(...res.data.data); */
						this.total = res.data.total;
						console.log(this.messageData,'data111')
						
						setTimeout(() => {
							this.scroll = false;
							
						}, 1);
					} 
				});
		    },
		    onSuccess: function () {
		        console.log("Channel订阅成功。");
		    },
		    onFailed: function (error) {
		        console.log("Channel订阅失败, 错误编码：" + error.code + " 错误信息：" + error.content)
		    }
		});
		//录音开始事件
		this.Recorder.onStart(e => {
		
			this.beginVoice();
		});
		//录音结束事件
		this.Recorder.onStop(res => {
			clearInterval(this.voiceInterval);
			this.handleRecorder(res);
		});
		
		//音频停止事件
		this.Audio.onStop(e => {
			this.closeAnmition();
		});
		
		//音频播放结束事件
		this.Audio.onEnded(e => {
			this.closeAnmition();
		});
	},
	onReady() {
		//this.test()
	},
	created() {
		const res = uni.getSystemInfoSync();
		//console.log(res);
		this.style.contentViewHeight = res.windowHeight - 50;
		//this.style.minheight = res.screenHeight
		//this.test()
	},
	onShow() {
		//console.log(this.scrollTop,'scrollTop')
	},
	onHide() {
		console.log('页面离开了！')
		if(this.AudioExam !== null){
			this.stopAudio(this.AudioExam)
		}
		
	},
	onBackPress(){
		console.log('页面离开了！')
		if(this.AudioExam !== null){
			this.stopAudio(this.AudioExam)
		}
	},
	methods: {
		
		requestOrder() {
			uni.showLoading({
				title: '检测支付环境...'
			});
			iapChannel.requestOrder(
				productIds,
				orderList => {
					//必须调用此方法才能进行 iap 支付
					//this.disabled = false;
					console.log('requestOrder success666: ' + JSON.stringify(orderList));
					
					//uni.hideLoading();
					this.requestPayment(orderList);
				},
				e => {
					console.log('requestOrder failed: ' + JSON.stringify(e));
					uni.hideLoading();
					uni.showModal({
						content: '暂不支持苹果手机支付',
						showCancel: false
					});
				}
			);
		},
		requestPayment(e) {
						console.log(e);
						const fee = e[0].price.toString();
		                //this.loading = true;
						uni.hideLoading();
		                uni.requestPayment({
		                    provider: 'appleiap',
		                    orderInfo: {
		                        productid: productId
		                    },
		                    success: (e) => {
								
		                        console.log(fee)
								/* uni.showModal({
								    content: "感谢您的赞助",
								    showCancel: false
								}) */
								//uni.hideLoading();
								/* todo付完钱的回调 */
								const params = {
									amount:'1',
									fee: fee,
									name: 'applePMD咨询服务',
									targetuserid: this.tid,
									userid: this.uid,
									type:2,
									notifyTime: this.getNowTime(0),
									deadline: this.getNowTime(7)
								}
								this.$u.api.appleNotify(params,{
									'Content-Type': 'application/json'
								}).then(res=>{
									console.log(res)
									if(res.code == 0){
										uni.showModal({
										    content: "你已经可以进行留言！",
										    showCancel: false
										})
									}
								}).catch(err=>{
									console.log(err)
									uni.showModal({
									    content: "出现未知错误！",
									    showCancel: false
									})
								})
		                    },
		                    fail: (e) => {
								//uni.hideLoading();
		                        uni.showModal({
		                            content: "支付失败,原因为: " + e.errMsg,
		                            showCancel: false
		                        })
		                    },
		                    complete: () => {
		                        //console.log("payment结束")
		                        //this.loading = false;
								/* uni.showModal({
								    content: "可能存在延迟，请耐心等待支付成功通知！",
								    showCancel: false
								}) */
		                    }
		                })
		            },
		readyInput() {
			console.log('点击了！')
			this.test();
		},
		test() {
			//滚动到底部，笨蛋方法
			this.scrollTop = this.scrollTop + 1000;
		},
		getData() {
			let params = {
				tid: Number(this.tid),
				uid: Number(this.uid),
				limit: this.limit,
				page: this.page
			};
			this.$u.api.getMessageInfo(params).then(res => {
				console.log(res);
				if (res.code == 0 && res.data.data.length > 0) {
					
					//this.messageData = res.data.data;
					this.messageData.unshift(...res.data.data);
					this.total = res.data.total;
					
					//this.showLoading = false;
					setTimeout(() => {
						this.scroll = false;
						//this.showLoading = false;
					}, 1);
				} else if (res.code == 0 && res.data.data.length == 0) {
					//this.showLoading = false;
					setTimeout(() => {
						this.scroll = true;
						//this.showLoading = false;
					}, 1);
				}
			});
		},
		//获取最新的聊天数据并重新渲染页面
		getInitData(){
			let params = {
				tid: Number(this.tid),
				uid: Number(this.uid),
				limit: this.limit,
				page: 1
			};
			this.$u.api.getMessageInfo(params).then(res => {
				console.log(res);
				if (res.code == 0) {
					this.messageData = res.data.data;
					/* this.messageData.unshift(...res.data.data); */
					this.total = res.data.total;
					console.log(this.messageData,'img to get data')
					
					setTimeout(() => {
						this.scroll = false;
						
					}, 1);
				} 
			});
		},
		addMessage(liuyanData){ //发送留言接口逻辑
			
			let params = {
				targetuserid: this.tid,
				userid: this.uid
			};
			if(this.userInfo.type == 4){ //判断用户角色，type = 1 医生 type = 4 用户
				this.$u.api.checkPermissions(params).then(res => {
					console.log(res);
					if (res.code == 0) {
						let data = {
							uid: this.uid,
							tid: this.tid,
							content: liuyanData,
							type: this.type,
							audioDuration:this.audioDuration,
							audioPlay:null
						};
						this.$u.api
							.addMessage(data, {
								'Content-Type': 'application/json'
							})
							.then(res => {
								console.log(res);
								if (res.code == 0) {
									this.message = null;
									//this.imgSrc = null;
									this.showFunBtn = false;
									
									if(this.type == 0 || this.type == 2 ){
										//this.messageData = [];
										// this.page = 1;
										// this.getData();
										this.getInitData()
									}
									this.message = null;
			
									console.log('提交！');
								}
							});
					} else if (res.code == 10035) {
						uni.showModal({
							title: '提示',
							content: '您的留言咨询时间已过期，是否要继续购买？',
							success: res => {
								if (res.confirm) {
									this.show = true;
									this.message = null;
									//this.imgSrc = null;
								}
							}
						});
					}
				});
			}else{ //医生应当不做留言限制
				let data = {
					uid: this.uid,
					tid: this.tid,
					content: liuyanData,
					type: this.type,
					audioDuration:this.audioDuration,
					audioPlay:null
				};
				this.$u.api
					.addMessage(data, {
						'Content-Type': 'application/json'
					})
					.then(res => {
						console.log(res);
						if (res.code == 0) {
							this.showFunBtn = false;
							console.log(this.type)
							if(this.type == 0 || this.type == 2 ){
								//this.messageData = [];
								// this.page = 1;
								// this.getData();
								this.getInitData()
							}
							this.message = null;
						}else{
							console.log(12312312)
						}
						
					});
			}
		},
		submit() {  //点击提交按钮
			console.log(this.message)
			this.type = 0;
			this.audioDuration = null;
			if (this.message == null) {
				uni.showToast({
					title: '留言内容不能为空！',
					duration: 2000,
					icon: 'none'
				});
				return false;
			}
			this.addMessage(this.message);
		},
		goPay(e) {
			console.log(e);
			console.log(e[1].value);
			if (e[1].value == '001') {
				//支付宝支付
				let orderInfo = '';
				this.$u
					.post(
						`${this.$u.http.config.baseUrl}/order/unifiedOrder`,
						{
							amount: '1',
							fee: '0.01',
							subject: '咨询服务',
							targetuserid: this.tid,
							type: 0,
							userid: this.uid
						},
						{
							'Content-Type': 'application/json'
						}
					)
					.then(res => {
						console.log(res);
						/* todo 判断具体错误 */
						if (res.code == 0) {
							orderInfo = res.data;
							uni.requestPayment({
								provider: 'alipay',
								orderInfo: orderInfo,
								success: function(res) {
									console.log('success:' + JSON.stringify(res));
									uni.showToast({
										title: '支付成功！',
										duration: 1000,
										icon: 'none'
									});
									setTimeout(function() {
										uni.switchTab({
											url: '/pages/user/mymessages'
										});
									}, 1000);
								},
								fail: function(err) {
									console.log('fail:' + JSON.stringify(err));
									uni.showToast({
										title: '支付失败！',
										duration: 1000,
										icon: 'none'
									});
								}
							});
						}
					})
					.catch(err => {
						console.log(err);
					});
			} else if (e[1].value == '002') {
				//微信支付 /* todo*/
				/* uni.showToast({
					title: '功能开发中！',
					duration: 2000,
					icon: 'none'
				}); */
				let orderInfo = '';
				this.$u
					.post(
						`${this.$u.http.config.baseUrl}/order/unifiedOrder`,
						{
							amount: '1',
							fee: '0.01',
							subject: '咨询服务',
							targetuserid: this.tid,
							type: 1,
							userid: this.uid
						},
						{
							'Content-Type': 'application/json'
						}
					)
					.then(res => {
						console.log(res);
						if (res.code == 0) {
							orderInfo = res.data;
							uni.requestPayment({
								provider: 'wxpay',
								orderInfo: orderInfo,
								success: function(res) {
									console.log('success:' + JSON.stringify(res));
									uni.showToast({
										title: '支付成功！您可以进行留言了！',
										duration: 1000,
										icon: 'none'
									});
									/* setTimeout(function() {
										uni.switchTab({
											url: '/pages/user/mymessages'
										});
									}, 1000); */
								},
								fail: function(err) {
									console.log(err);
									console.log('fail:' + JSON.stringify(err));
									uni.showToast({
										title: '支付失败！',
										duration: 1000,
										icon: 'none'
									});
								}
							});
						}
					})
					.catch(err => {
						console.log(err);
					});
			} else if(e[1].value == '003'){
				//苹果支付
				plus.payment.getChannels(
					channels => {
						console.log('获取到channel' + JSON.stringify(channels));
						for (var i in channels) {
							var channel = channels[i];
							if (channel.id === 'appleiap') {
								iapChannel = channel;
								this.requestOrder();
							}
						}
						if (!iapChannel) {
							uni.showModal({
								content: '暂不支持苹果 iap 支付',
								showCancel: false
							});
						}
					},
					error => {
						uni.showModal({
							content: '暂不支持苹果 iap 支付',
							showCancel: false
						});
					}
				);
			}
		},
		getNowTime(num) { //获取当前时间或者当前时间之前或者之后的时间
			let dateTime;
			var date1 = new Date();
			//今天时间
			var time1 = date1.getFullYear() + '-' + (date1.getMonth() + 1) + '-' + date1.getDate();
			//console.log(time1);
			var date2 = new Date(date1);
			date2.setDate(date1.getDate() + num);
			//num是正数表示之后的时间，num负数表示之前的时间，0表示今天
			var time2 = date2.getFullYear() + '-' + (date2.getMonth() + 1) + '-' + date2.getDate();
			//console.log(time2);
			let hh = new Date().getHours();
			let mf = new Date().getMinutes() < 10 ? '0' + new Date().getMinutes() : new Date().getMinutes();
			let ss = new Date().getSeconds() < 10 ? '0' + new Date().getSeconds() : new Date().getSeconds();
			dateTime = time2 + ' ' + hh + ':' + mf + ':' + ss;
			console.log(dateTime);
			return dateTime;
		},
		scrolltoupper() {


			console.log(this.scroll);
			if (this.scroll) {
				//防止多次加载数据
				return false;
			}
			if(this.total == this.messageData.length){
				console.log('到顶了噢！');
				return false;
			}
			//this.showLoading = true;
			this.scroll = true;
			this.page++;
			this.getData();
			this.scrollTop = this.scrollTop + 500;
		},
		clickLong(item,index){
			console.log(item,index)
			this.show1 = true;
			this.commentId = item.commentId;
		},
		delMsg(index){
			console.log(index)
			if(index == 0){ //删除
				uni.showModal({
					title: '警告',
					content: '删除后留言内容无法找回，你确定要进行删除操作吗？',
					success: res => {
						if (res.confirm) {
							this.$u.get(`${this.$u.http.config.baseUrl}/comment/deleteComment/${this.uid}/${this.tid}/${this.commentId}`).then(res=>{
								console.log(res);
								if(res.code == 0){
									uni.showToast({
										title: '删除成功！',
										duration: 1000,
										icon: 'none'
									});
									//this.messagesList.splice(index,1)
									this.page = 1;
									this.messageData = [];
									this.getData();
								}
							}).catch(err=>{
								console.log(err);
							})

						} else if (res.cancel) {
						}
					}
				});
			}else{  //重新选择

			}
		},
		clickGrid(index){
			if(index == 0){
				this.chooseImage(['album'])
			}else if(index == 1){
				this.chooseImage(['camera'])
			}
		},
		chooseImage(sourceType){
			uni.chooseImage({
				sourceType,
				count:1,//最多选9张
				sizeType:['compressed'],
				success:res=>{
					console.log(res)
					for(let i = 0;i<res.tempFilePaths.length;i++){
						
						uni.uploadFile({
						    url: `${this.$u.http.config.baseUrl}/user/api/comment/image`, //仅为示例，非真实的接口地址
						    filePath: res.tempFilePaths[i],
							formData:{uploadType:'comment'},
						    success: (uploadFileRes) => {
						        console.log(uploadFileRes);
								this.type = 1;
								this.audioDuration = null;
								let imgSrc = JSON.parse(uploadFileRes.data).data;
								//console.log(this.message)
								this.showFunBtn = false;
								this.addMessage(imgSrc);
								
						    }
						});
						
					}
					
					console.log('test111')
					setTimeout(()=>{
						/* this.messageData = [];
						this.page = 1;
						this.getData();
						console.log('11444') */
						this.getInitData()
					},1000)
					
				}
			})
		},
		isShowFun(){
			this.showFunBtn = !this.showFunBtn;
		},
		switchChatType(type) {
			this.chatType = type;
			this.showFunBtn =false;
			if(type == 'keyboard'){
				console.log(111)
				plus.android.requestPermissions(['android.permission.RECORD_AUDIO'], function(e){
					if(e.deniedAlways.length>0){	//权限被永久拒绝
						// 弹出提示框解释为何需要定位权限，引导用户打开设置页面开启
						uni.showToast({
							title: '你未打开语音权限！请前往设置页面开启！',
							duration: 1000,
							icon: 'none'
						});
					}
					if(e.deniedPresent.length>0){	//权限被临时拒绝
						// 弹出提示框解释为何需要定位权限，可再次调用plus.android.requestPermissions申请权限
						uni.showToast({
							title: '你未打开语音权限！',
							duration: 1000,
							icon: 'none'
						});
						/* plus.android.requestPermissions(['android.permission.RECORD_AUDIO'], function(e){
							console.log(e)
						}, function(e){
						    console.log('Request Permissions error:'+JSON.stringify(e));
						}); */
					}
					if(e.granted.length>0){	//权限被允许
					    //调用依赖获取定位权限的代码
						
					}
				}, function(e){
				    console.log('Request Permissions error:'+JSON.stringify(e));
				});
			}
		},
		TanPreviewImage(item,index){
			console.log(item,index) // http://192.168.100.251:8970/6_1597822634094.png
			var images = [];
			images.push(item.commentMsg);
			console.log(images);
			  uni.previewImage({ // 预览图片  图片路径必须是一个数组 => ["http://192.168.100.251:8970/6_1597822634094.png"]
			              current:0,
			              urls:images,
			              longPressActions: {  //长按保存图片到相册
			                  /* itemList: ['保存图片'],
			                  success: (data)=> {
			                      console.log(data);
			                      uni.saveImageToPhotosAlbum({ //保存图片到相册
			                          filePath: payUrl,
			                          success: function () {
			                              uni.showToast({icon:'success',title:'保存成功'})
			                          },
			                          fail: (err) => {
			                              uni.showToast({icon:'none',title:'保存失败，请重新尝试'})
			                          }
			                      });
			                  },
			                  fail: (err)=> {
			                      console.log(err.errMsg);
			                  } */
			          }
			          });
		},
		//停止音频
		stopAudio(item) {
			item.audioPlay = 0;
			this.Audio.src = '';
			this.Audio.stop();
		},
		//准备开始录音
		startVoice(e) {
			if(!this.Audio.paused){
				//如果音频正在播放 先暂停。
				this.stopAudio(this.AudioExam)
			}
			this.recording = true;
			this.isStopVoice = false;
			this.canSend = true;
			this.voiceIconText = "正在录音..."
			this.PointY = e.touches[0].clientY;
			this.Recorder.start({
				format: 'mp3'
			});
			
		},
		//录音已经开始
		beginVoice(){
			if (this.isStopVoice) {
				this.Recorder.stop();
				return;
			}
			this.voiceTitle = '松开 结束'
			this.voiceInterval =  setInterval(()=>{
				this.voiceTime ++;
			},1000)
		},
		//move 正在录音中
		moveVoice(e){
			const PointY = e.touches[0].clientY
			const slideY = this.PointY - PointY;
			if(slideY > uni.upx2px(120)){
				this.canSend = false;
				this.voiceIconText = '松开手指 取消发送 '
			}else if(slideY > uni.upx2px(60)){
				this.canSend = true;
				this.voiceIconText = '手指上滑 取消发送 '
			}else{
				this.voiceIconText = '正在录音... '
			}
		},
		//结束录音
		endVoice() {
			this.isStopVoice = true; //加锁 确保已经结束录音并不会录制
			this.Recorder.stop();
			this.voiceTitle = '按住 说话'
		},
		//录音被打断
		cancelVoice(e){
			this.voiceTime = 0;
			this.voiceTitle = '按住 说话';
			this.canSend = false;
			this.Recorder.stop();
		},
		//处理录音文件
		handleRecorder({ tempFilePath,duration }) {
			let contentDuration;
		
		
			// #ifdef APP-PLUS
			contentDuration = this.voiceTime +1;
			this.voiceTime = 0;
			if(contentDuration <= 1) {
				this.voiceIconText="说话时间过短";
				setTimeout(()=>{
					this.recording = false;
				},200)
				return;
			};
			// #endif
		
			this.recording = false;
			const params = {
				contentType: 2,
				content: tempFilePath,
				contentDuration: Math.ceil(contentDuration)
			};
			console.log(params)
			if(this.canSend){
				uni.uploadFile({
				    url: `${this.$u.http.config.baseUrl}/user/api/comment/image`, 
				    filePath: tempFilePath,
					formData:{uploadType:'audio'},
				    success: (uploadFileRes) => {
						//console.log(uploadFileRes.data)
				        //console.log(JSON.parse(uploadFileRes.data));
						this.type = 2;
						this.audioDuration = Math.ceil(contentDuration);
						//this.audioPlay = null;
						let audioSrc = JSON.parse(uploadFileRes.data).data;
						console.log(audioSrc)
						this.addMessage(audioSrc);
				
				    }
				});
			}
		},
		//控制播放还是暂停音频文件
		handleAudio(item) {
			console.log(item,'点击播放了！')
			this.AudioExam = item;
			this.Audio.paused ? this.playAudio(item) : this.stopAudio(item);
		},
		//播放音频
		playAudio(item) {
			//console.log(item,'123412312312321！')
			this.Audio.src = item.commentMsg;
			//this.Audio.src = 'http://192.168.5.104:9000/images/comment/audio/3z07yjkqqi.mp3'
			this.Audio.commentId = item.commentId;
			this.Audio.play();
			item.audioPlay = 1;
			//console.log(111)
		},
		//停止音频
		stopAudio(item) {
			item.audioPlay = 0;
			this.Audio.src = '';
			this.Audio.stop();
			//console.log(item)
		},
		//关闭动画
		closeAnmition() {
			const commentId = this.Audio.commentId;
			const item = this.messageData.find(it => it.commentId == commentId);
			
			item.audioPlay = 0;
			//console.log(item)
		},
	},
	computed:{
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.messageBox {
	.main {
		padding-bottom: /* calc(var(--window-bottom) + 50px) */ 50px;
		//
		width: 100%;
		height: 100%;
		background: #f7f7f7;
		//min-height: 100vh;
		//position: relative;
	}

	.top-field {
		height: 180rpx;
		padding: 30rpx;
		background-color: #ffffff;
		border-top: 1px solid #eeeeee;
		display: flex;
		.peopleInfo {
			margin-left: 30rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.name {
				font-size: 36rpx;
				font-weight: bold;
			}
			.hospital {
				font-weight: bold;
			}
		}
	}
	.loadingLogo {
		text-align: center;
		padding-top: 30rpx;
	}
	.container {
		padding: 30rpx;
		// 语音
		.voice {
			display: flex;
			flex-direction: row;
			padding: 28rpx 29rpx 34rpx 25rpx;
			background: #eeeeee;
			border-radius: 40rpx 40rpx 40rpx 40rpx;
			align-items: center;
			.voice_icon {
				height: 34rpx;
				width: 34rpx;
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.voice_icon_right {
				background-image: url(../../static/voice-left-3.png);
				margin-left: 10rpx;
			}
			.voice_icon_left {
				background-image: url(../../static/voice-right-3.png);
				margin-right: 10rpx;
			}
			.voice_icon_right_an {
				animation: voiceAn_right 1s linear alternate infinite;
			}
			.voice_icon_left_an {
				animation: voiceAn_left 1s linear alternate infinite;
			}
			@keyframes voiceAn_right {
				0% {
					background-image: url(../../static/voice-left-1.png);
				}
				50% {
					background-image: url(../../static/voice-left-2.png);
				}
				100% {
					background-image: url(../../static/voice-left-3.png);
				}
			}
			@keyframes voiceAn_left {
				0% {
					background-image: url(../../static/voice-right-1.png);
				}
				50% {
					background-image: url(../../static/voice-right-2.png);
				}
				100% {
					background-image: url(../../static/voice-right-3.png);
				}
			}
		}
		.content-type-right {
			flex-direction: row-reverse;
		}
		.img-chat {
			//width: 300rpx;
			//height: 100%;
			max-width: 400rpx;
		}
		.left-message {
			display: flex;
			.content {
				margin-left: 20rpx;
				.text {
					//width: 500rpx;
					padding: 28rpx 29rpx 34rpx 25rpx;
					//height: 80rpx;
					background: #ffffff;
					border-radius: 0px 40rpx 40rpx 40rpx;
					word-wrap: break-word;
					font-size: 24rpx;

					color: #4a4a4a;
				}
				.time {
					margin-left: 20rpx;
					font-size: 24rpx;

					color: #999999;
				}
			}
		}
		.right-message {
			display: flex;
			flex-direction: row-reverse;
			//margin-top: 30rpx;
			.content {
				margin-right: 20rpx;
				.text {
					//width: 500rpx;
					padding: 28rpx 29rpx 34rpx 25rpx;
					//height: 80rpx;
					//white-space:pre-line;
					background: #eeeeee;
					border-radius: 40rpx 0px 40rpx 40rpx;
					word-wrap: break-word;
					font-size: 24rpx;

					color: #4a4a4a;
				}
				.time {
					margin-left: 20rpx;
					font-size: 24rpx;
					text-align: right;
					color: #999999;
				}
			}
		}
	}
	.message-input {
		//height: 100rpx;
		width: 100%;
		background-color: #ffffff;
		position: fixed;
		bottom: 0;
		//bottom: var(--window-bottom,0);
		left: 0;

		.input-content {
			display: flex;
			align-items: center;
			height: 100rpx;
			.icon_img {
				width: 80rpx;
				height: 54rpx;
				margin: 0px 20rpx 0px 20rpx;
			}
		}
		/deep/.uni-input-wrapper {
		}
		/deep/ .u-field {
			width: 100%;
			padding: 0px 0px 0px 28rpx;
			//padding-left: 28rpx;
		}
		/deep/ .u-field__input-wrap {
			min-height: 70rpx;
		}
		/deep/ .uni-input-input {
			padding: 20rpx;
			//padding-right: 40rpx;
			background-color: #eeeeee;
		}
		/deep/ .uni-input-placeholder {
			left: 20rpx;
		}
		.submit-logo {
			width: 64rpx;
			height: 44rpx;
			margin: 0px 20rpx 0px 20rpx;
		}
		.input-main {
			height: 60%;
			width: 100%;
			//margin-left: 10px;
		}
		.voice_title {
			height: 60%;
			width: 100%;
			text-align: center;
			line-height: 30px;
			background-color: #eeeeee;
		}
		.send-button {
			height: 60%;
			margin-right: 20rpx;
			padding: 0 20rpx;
		}
		.fun-box {
			opacity: 0;
			transition: all 0.1s ease-in-out;
			height: 0;
			background-color: rgb(234, 234, 234);
			.grid-text {
				padding-top: 10rpx;
				color: $uni-text-color-grey;
			}
		}
		.show-fun-box {
			opacity: 1;
			height: 300rpx;
		}
		.voice_an {
			width: 300rpx;
			height: 300rpx;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -55%);
			background-color: rgba(41, 41, 41, 0.7);
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			border-radius: 10rpx;
			.text {
				padding-top: 30rpx;
			}
			@keyframes runVoice {
				0% {
					height: 10%;
				}
				20% {
					height: 50%;
				}
				50% {
					height: 100%;
				}
				80% {
					height: 50%;
				}
				100% {
					height: 0%;
				}
			}
			.wave {
				width: 6rpx;
				height: 100%;
				margin-left: 10rpx;
				border-radius: 50rpx;
				background-color: #999;
				vertical-align: middle;
				display: inline-block;
			}
			.voice_an_icon {
				width: 200rpx;
				height: 100rpx;
				line-height: 50rpx;
				margin: 50rpx 0;
			}
			.voice_an_icon #one {
				animation: runVoice 0.6s infinite 0.1s;
			}
			.voice_an_icon #two {
				animation: runVoice 0.6s infinite 0.3s;
			}
			.voice_an_icon #three {
				animation: runVoice 0.6s infinite 0.6s;
			}
			.voice_an_icon #four {
				animation: runVoice 0.6s infinite 0.1s;
			}
			.voice_an_icon #five {
				animation: runVoice 0.6s infinite 0.3s;
			}
			.voice_an_icon #six {
				animation: runVoice 0.6s infinite 0.6s;
			}
			.voice_an_icon #seven {
				animation: runVoice 0.6s infinite 0.1s;
			}
		}
	}
}
</style>
