<template>
	<view class="messagesListItem" @click="gotomessagebox">
		<u-avatar :src="userInfo.id == messageInfo.replyUserId ? messageInfo.userAvatar : messageInfo.replyUserAvatar"></u-avatar>
		<view class="content">
			<view class="name">{{ userInfo.id == messageInfo.replyUserId ? messageInfo.userName : messageInfo.replyUserName }}</view>
			<view class="text u-line-1">{{ messageInfo.commentType == 1 ? '【图片】' : messageInfo.commentType == 2 ? '语音信息' : messageInfo.commentMsg }}</view>
		</view>
		<view class="time">
			<view class="date">{{ messageInfo.creatTime }}</view>
			<!-- <view class="timeInfo"></view> -->
		</view>
	</view>
</template>

<script>
import { mapState } from 'vuex';
export default {
	data() {
		return {};
	},
	props: {
		messageInfo: {
			type: Object,
			default: () => {
				return {};
			}
		}
	},
	methods: {
		gotomessagebox() {
			let uid = this.userInfo.id;
			let tid = this.messageInfo.replyUserId == uid ? this.messageInfo.userId : this.messageInfo.replyUserId;
			uni.navigateTo({
				url: `/pages/messageBox/messageBox?tid=${tid}&uid=${uid}`
			});
		}
	},
	computed: {
		...mapState(['userInfo'])
	}
};
</script>

<style lang="scss" scoped>
.messagesListItem {
	border-top: 1px solid #eeeeee;
	display: flex;
	width: 100%;
	height: 160rpx;
	padding: 30rpx;
	align-items: center;
	background-color: #ffffff;
	.content {
		margin-left: 20rpx;
		width: 400rpx !important;
		.name {
			width: 100%;
			font-size: 30rpx;
			color: #333333;
			font-weight: bold;
		}
		.text {
			width: 100%;
			font-size: 20rpx;
			color: #999999;
		}
	}
	.time {
		//margin-left: 100rpx;
		width: 200rpx;
		text-align: center;
		color: #999999;
	}
}
</style>
